[2022-01-09 13:11] nissimsan opened #1 "Schedule meeting cadence"
Plan for meeting cadence, add to README, incl conference details.

[2022-01-09 13:12] nissimsan opened #2 "Add editors and chair to README"

[2022-01-09 13:13] nissimsan opened #3 "Itemize initial list of deliverables"
Including high level description of project goal and deliverables

[2022-01-09 13:18] nissimsan opened #4 "Include section on vocab update frequency"
Vocab update frequency
- Discussion, how linked data differs from centralized models.
- Pros and cons of frequent/infrequent updates. Stability versus fringe increments.

[2022-01-09 13:21] nissimsan opened #5 "UN/CEFACT vocab fit in the larger linked data world"
Include architectural section positioning UN/CEFACT vocab among other vocabs. This section will require discussion and solutioning. Include discussion of:
- specialized versus generic vocabularies
- term overrides by us
- term overrides by others

[2022-01-09 13:22] nissimsan opened #6 "Initiate formal delivery document"
Establish .md document for capturing the text-based deliverables for bureau submission.

[2022-01-09 13:27] nissimsan opened #7 "Include transformation code"
Add the code from the RDM2API project which transforms exported legacy (CCTS) formatted BSP model to JSON-LD.

[2022-01-09 13:28] nissimsan opened #8 "Add project scope section"
Establish an initial description of project scope.

[2022-01-09 13:29] nissimsan opened #9 "Formalize project requirements"
Formalize the requiements driving the UN/CEFACT vocab solution.

[2022-01-09 13:30] nissimsan opened #10 "Formalize project exit criteria (definition of done)"

[2022-01-09 13:49] nissimsan commented on #1
Done.

[2022-01-09 13:49] #1 closed

[2022-01-09 14:54] nissimsan commented on #2
Done, closing

[2022-01-09 14:55] #2 closed

[2022-01-17 16:33] nissimsan opened #11 "Decide on alignment to https://github.com/edi3/edi3-json-ld-ndr"
Given there is now a formal UN repo for tracking, we probably want to bring over existing tickets from edi3.

[2022-01-17 21:29] nissimsan opened #13 "Extract existing documentation"
A large amount of draft tech specification and other documentation has already been created over the recent years:
https://uncefact.unece.org/pages/viewpage.action?pageId=43384856
We must filter through this material and extract the parts which are relevant to web vocab. We don't want to re-invent any wheels.

This ticket will probably need to be subdivided.

[2022-01-19 09:17] nissimsan opened #16 "Add UN delegate link"

[2022-01-19 09:20] cmsdroff commented on #3
The deliverables for the project will be in 2 forms:

1. a PDF / Word document which covers the project outcomes and areas covered within scope.
2. code in the UN/CEFACT GitHub to deliver the vocabulary in a consumable format to the outside world

[2022-01-19 09:22] cmsdroff commented on #8
We agreed during the call that the following are out of scope:

* API and Schemas
* Data Modelling work as we are re-using existing work rather than creating new standards or subsets of existing.

[2022-01-19 09:23] nissimsan opened #17 "Make GH team of approvers"

[2022-01-19 09:30] nissimsan commented on #4
@fak3

[2022-01-19 09:30] Fak3 commented on #4
tag myself

[2022-01-19 09:32] nissimsan commented on #5
@nissimsan I'll give this a stab

[2022-01-19 09:36] nissimsan commented on #6
https://github.com/uncefact/vocab/pull/14

[2022-01-19 09:36] #6 closed

[2022-01-19 09:36] nissimsan commented on #9
@kevinbish

[2022-01-19 09:37] cmsdroff opened #19 "Consider a live case study to demonstrate"
Potential to implement some of the outcomes in open projects or work, for example BIC (Bureau International des Containers) https://github.com/bic-org have containers, container facilities and also BIC Code registrations which could be used to demonstrate a working example of the projects outputs.

[2022-01-19 09:39] cmsdroff opened #20 "Minutes from the 19th"
@nissimsan here's the notes from today before I left.

# Kick off Meeting

## Attendee's
Nis Jesperson - 4 years in CEFACT and founder of EDI3 works in verifiable credentials.  Editor of the project.
Roman Evstifeev - worked on edi3 for a few years
Kevin Bishop - from UNECE secretariat, joined 2 months ago, has background in IT a professor in computing.
David Roff - T&L Domain Co-Ordinator also su

[2022-01-19 09:40] nissimsan commented on #10
@kevinbish

[2022-01-19 09:46] nissimsan commented on #7
@kshychko

[2022-01-19 09:46] nissimsan commented on #7
Since this is java, include both source and binaries

[2022-01-19 09:49] nissimsan commented on #11
It's probably possible to move tickets from edi3. But should we?

[2022-01-19 09:50] nissimsan commented on #11
In order to close this, we'll go through all edi3 tickets, either closing or bring over here for continued work

[2022-01-19 09:52] nissimsan commented on #13
@nissimsan

[2022-01-19 09:52] nissimsan commented on #13
@kevinbish , please pitch in!

[2022-01-19 09:53] nissimsan commented on #16
Awesome, @cmsdroff!!

[2022-01-19 09:55] nissimsan commented on #3
Nice, @cmsdroff , would you mind adding this to the document?

[2022-01-19 09:58] nissimsan commented on #8
@cmsdroff  would you add to the doc, pls?

[2022-01-19 09:59] nissimsan commented on #17
@kevinbish , please grant Kseniya permissions

[2022-01-19 10:08] kevinbish commented on #17
@kshychko @nissimsan Permissions assigned.

[2022-01-19 10:16] #20 closed

[2022-01-19 11:27] cmsdroff commented on #3
@nissimsan added a PR for this and the scope #8

[2022-01-19 14:11] #17 closed

[2022-01-27 10:16] nissimsan opened #23 "Introduce NDRs for adding links to other vocabs"
A number of UN/CEFACT terms are defined elsewhere. In order to "fit in", we should include NDRs which define for specific elements terms such as `broaderThan`, `narrowerThan`, `equivalentProperty`, `equivalentClass`, `subClass`, `subProperty` linking to external terms.

For example `uncl1153:Bill_of_lading_number rdfs:subPropertyOf schema:identifier`

See also https://github.com/w3c-ccg/traceabili

[2022-01-27 14:51] VladimirAlexiev opened #24 "use Rec20 codes rather than names in URL"
(@nissimsan now that I know one person working on UNCEFACT linked data, I'll write this up :-)

For 20 years Rec20 published codes like `KGS`. They are widely used, eg in EPCIS and numerous other eCommerce schemas.

You published Rec20 as Linked Data (thanks!) but use English URLs like:
- https://service.unece.org/trade/uncefact/vocabulary/rec20/#kilogram_per_second

This means one cannot link to

[2022-01-27 15:06] VladimirAlexiev opened #25 "use `#` or `/` rather than `/#`"
@nissimsan

All of the vocabs use a double-char namespace delimiter: `/#` .

W3C and the Linked Data Patterns book (eg https://patterns.dataincubator.org/book/hierarchical-uris.html) have guidance on "slash vs hash" URLs. But nobody recommends using **both** together.

The recommendation is to use slash for large collections of terms and hash for smaller collections (since a client doesn't send th

[2022-01-27 15:08] VladimirAlexiev opened #26 "publish as individual resources"
Currently you publish most UNECE vocabs as one big page.

- providing useful data for **individual** resources (called "entity RDF") is one of the basic tenets of the web architecture and Linked Data. It'd make semantic web crawlers unhappy to get megabytes of data when they want to use one of your entities
- having individual pages makes it easier and a lot more valuable for other knowledge graph

[2022-01-27 15:17] VladimirAlexiev opened #27 "UN LOCODE namespaces"
ADAVL "Andorra la Vella" is published as https://service.unece.org/trade/uncefact/vocabulary/unlocode-ad/ADAVL.
- All other vocabs are published at single big pages, but I guess you found https://service.unece.org/trade/uncefact/vocabulary/unlocode/ to grow too big (Wikidata says over 100k entries, see https://www.wikidata.org/wiki/Property:P1937)
- Well, that's inconsistent
- To resolve LOCODE to

[2022-01-27 15:24] VladimirAlexiev opened #28 "publish extra data, link to external data"
https://service.unece.org/trade/uncefact/vocabulary/unlocode-ch/#CHGVA has this info:
[code]

https://locode.info/CHGVA has this info:
[code]

It's richer because it tells `country, region, functions` and has external link (to wikipedia).
Could you please add something like this? It's easy enough to:
- publish `country` and link it to something, eg an ISO countries list, Geonames or Wikidata
- lin

[2022-01-27 15:37] VladimirAlexiev commented on #28
You should also consider publishing using established ontologies. Eg with schemaorg, this could look like:
[code]

(All LOCODEs are ADM1 administrative divisions, right?

[2022-01-27 15:48] VladimirAlexiev opened #29 "use ontologically meaningful classes"
Linked Data should describe real-world entities, not data records, data structures, messages...

I'd argue that a class like `uncefact:LOCODE` is not good.
- LOCODEs are assigned to ADM1 country subdivisions, right?
- Schema.org has such a class: http://schema.org/State
  - It's named with abhorring US arrogance (why not Oblast or Land?) but otherwise is very much ok (see its definition).
  - So I

[2022-01-27 15:53] VladimirAlexiev commented on #29
This is just an example. If we look through all the vocabs, we'll probably find more examples.
If you follow through with #5 and reuse already established vocabs, that will probably make us use more meaningful classes.

[2022-01-27 20:23] nissimsan commented on #24
@VladimirAlexiev,

First of all welcome!!

Great input - exactly what we're looking for. The UN/CEFACT vocab is based on a non-trivial transformation from the legacy CCTS model to what you see [here](https://service.unece.org/trade/uncefact/vocabulary/uncefact.jsonld) based on NDRs. Switching from "transparent layers" to object orientation is, yea, non-trivial so I won't make promise we may not be

[2022-01-27 21:22] nissimsan commented on #8
@VladimirAlexiev , formally here:
https://github.com/uncefact/vocab/blob/main/211215%20-%203a%20JSON-LD%20web%20vocabulary%20Project%20proposal%20Approved.docx

But building upon informal work which has been going on for several years: https://github.com/edi3/edi3-json-ld-ndr (which is part of a larger https://edi3.org/ umbrella of applying new technologies to the UN/CEFACT assets)

[2022-01-28 00:07] mgh128 commented on #24
Hi @nissimsan , @VladimirAlexiev

Thanks for opening up the discussion on this.  We certainly welcome UN/CEFACT embracing Linked Data for the publication of the details about its unit of measure codes - definitely a big improvement on a spreadsheet.

As @VladimirAlexiev mentions, UN/CEFACT Rec20 codes are widely used in e-commerce and referenced from GS1 standards.  They're compact but not always

[2022-01-28 08:06] VladimirAlexiev commented on #26
The page https://service.unece.org/trade/uncefact/vocabulary/uncefact/ is too large, and wreaks havoc on my Chrome (page and browser become too sluggish). Laptop with 8Gb RAM.

[2022-01-28 08:12] kevinbish opened #30 "UNECE (Service UNCEFACT) - Server Upgrade/Maintenance - Jan 28th - Jan 31st 2022"
Dear Team,
I just got notified of some maintenance planned for this weekend. https://service.unece.org/trade/uncefact/vocabulary/uncefact/ will be unavailable during the weekend. Jan 28th - Jan 30th 2022.

Kevin.

[2022-01-28 08:13] kevinbish commented on #30
@nissimsan @onthebreeze @kshychko @colugo

[2022-01-28 08:32] VladimirAlexiev opened #31 "semantic resolution and content negotiation; URL policy"
@nissimsan https://github.com/uncefact/vocab/issues/24#issuecomment-1023607802 shows a link:
https://service.unece.org/trade/uncefact/vocabulary/uncefact.jsonld whcih is broken.
More importantly, the semantic link
https://service.unece.org/trade/uncefact/vocabulary/uncefact/
should return different payload using content negotiation.

As a minimum: HTML, JSONLD and Turtle.

It's not bad to also uti

[2022-01-28 09:04] VladimirAlexiev commented on #24
I like the idea to use URLs both with codes and names (and I like the shortened prefix!) :
``
`rec20:74 owl:sameAs rec20:millipascal . rec20:KGM owl:sameAs rec20:kilogram .
[code]

[2022-01-28 10:54] VladimirAlexiev commented on #24
@nissimsan

I added an example at the QUDT issue.
It is a more authoritative semantic foundation.
(There are other UoM ontologies to choose from, some have more units or better organization, but QUDT is one of the best).

The most important things that QUDT has that Rec20 doesn't, are:
- Dimension Vectors
- links to tell which units are comparable (eg many dimensionless units are not comparable, e

[2022-01-28 10:57] VladimirAlexiev opened #32 "collaboration between UNECE Rec20 and QUDT"
@dr-shorthair @steveraysteveray @nissimsan @mgh128

Now that we know UNECE are actively engaging in Linked Data (eg see #24),
what's the best way for the two initiatives to collaborate?

Here are some thoughts https://github.com/uncefact/vocab/issues/24#issuecomment-1024101108, please contribute more ideas or arguments.

[2022-01-28 16:30] mgh128 commented on #32
Would it be helpful if we do the following:

For QUDT, provide a JSON-LD dataset equivalent to http://qudt.org/2.1/vocab/unit (currently in Turtle), using the improved JSON-LD context / framing ideas suggested by @vladimiralexiev at https://github.com/qudt/qudt-public-repo/issues/386#issuecomment-1024045868

For UN/CEFACT, provide an enhanced version of https://service.unece.org/trade/uncefact/voc

[2022-01-28 17:42] VladimirAlexiev commented on #32
Sounds like a reasonable plan, mate!

But what to do about the customary/weird Rec20 units like "military sticks"? Just leave them with little data?

[2022-01-29 00:09] dr-shorthair commented on #32
I believe that version is the 'source of truth' for building the QUDT web site.
Of course TTL is just a serialization of the underlying graph, and JSON-LD is just another one.
And in both cases there are multiple ways that they could be laid out that are logically equivalent.

Is the requirement here that there is a single file available for download, in JSON to keep the webbies happy?
Need to be

[2022-01-29 00:18] dr-shorthair commented on #24
QUDT is more sound semantically.
However, its authoritativeness is not assured: it is a community project, without much of a business model or financial backing in practice. So while it currently has a group of enthusiastic custodians, it is vulnerable in the way that all community projects are.

For comparison, [UCUM](https://ucum.nlm.nih.gov/ucum-service.html) has better institutional backing (N

[2022-01-29 16:56] kevinbish commented on #30
Maintenance Completed - 1/29/2022 17:56 (CET)

[2022-01-29 16:56] #30 closed

[2022-01-29 20:27] steveraysteveray commented on #32
Indeed, the Turtle files are the master representations.

[2022-01-31 12:09] nissimsan commented on #31
@VladimirAlexiev , https://service.unece.org/trade/uncefact/vocabulary/uncefact.jsonld  isn't broken. But the UN server had a scheduled down period over the weekend, that's probably what you were facing? Pls try again now.
The topic of content negotiation has emerged before:
https://github.com/edi3/edi3-json-ld-ndr/issues/50
The sad conclusion was that we couldn't do anything about it, as the UN s

[2022-01-31 12:09] nissimsan commented on #25
+1

[2022-01-31 12:58] kevinbish commented on #31
- I should be able to get the subdomain added and pointed. (As for wiggle room with the "service" subdomain: None;).
- Going forward, I will also like to see if we can have dedicated hosting server infrastructure aligned to this project, so we can have full control.
- (I don't even have full control of the dumb folder -_-). At present between UNOG ICTS and ISU controls https://service.unece.org/ -

[2022-01-31 13:44] nissimsan commented on #13
https://github.com/uncefact/vocab/pull/33

[2022-01-31 16:24] VladimirAlexiev opened #34 "Wiki page "UNCEFACT Issues""
@nissimsan I've reviewed the current UNCEFACT vocab and posted some notes at

Maybe it's better to put this as a wiki page?

I'll start posting individual issues based on the second section `Issues`

[2022-01-31 16:27] VladimirAlexiev opened #35 "cefact namespace"
https://gist.github.com/VladimirAlexiev/618a9bddd6a949b75b37e983f0220417#bies

The `cefact:` namespace should be at `unece` rather than `edi3`, like the `uncefact:` namespace
[code]
- The `cefact:` namespace doesn't reflect its purpose. Maybe it should be `uncefactBIE:`? And a corresponding part in the URL: `<uncefact/BIE/uncefact>`

[2022-01-31 16:29] VladimirAlexiev opened #36 "cefactBieDomainClass should be object prop not string"
The link from `BasicBIE` to `AggregateBIE` should be an object prop, not a string:
[code]

[2022-01-31 16:30] VladimirAlexiev opened #37 "remove prefix from cefactUNId value"
`uncefact:cefactUNId "cefact:UN01002518"`: maybe remove the word "cefact" from the value?

[2022-01-31 16:31] VladimirAlexiev opened #38 "void values of uncefact:TDED"
some `uncefact:TDED "."` are void (empty) values: skip them.

And what is TDED? use words not abbreviations

[2022-01-31 16:32] VladimirAlexiev opened #39 "uncefact:UNECELOCODE"
uncefact.jsonld wrongly defines class `uncefact:UNECELOCODE`
- The LOCODE instance data uses `uncefact:UNLOCODE` rather than this name
- Furthermore, this class is not very meaningful semantically (see https://github.com/uncefact/vocab/issues/29), which may be confirmed by its "description" below:
[code]

[2022-01-31 16:34] VladimirAlexiev opened #40 "owl:ObjectProperty vs owl:DatatypeProperty, rather than rdf:Property"
https://gist.github.com/VladimirAlexiev/618a9bddd6a949b75b37e983f0220417#props

schema.org uses `rdf:Property` because almost all of its props allow literal (text) in addition to object.
However, UNCEFACT seems to be strict in following a "property dichotomy", so use owl:ObjectProperty (797, see below) vs owl:DatatypeProperty (950).

| range      |   c | comment                         |
|--------

[2022-01-31 16:45] VladimirAlexiev opened #41 "BIE descriptions vs prop descriptions"
https://gist.github.com/VladimirAlexiev/618a9bddd6a949b75b37e983f0220417#prop-descriptions

Some BIE Descriptions seem to be richer than prop descriptions. Eg
[code]

The BIE description could be used when the BIE is used in one term, and the term is applicable to only one class (as is the case for `uncefact:abbreviatedName`: applicable only to `uncefact:Qualification`)
1242 (or 1337?) of 1747 pro

[2022-01-31 16:46] VladimirAlexiev opened #42 "duplicated props"
https://gist.github.com/VladimirAlexiev/618a9bddd6a949b75b37e983f0220417#duplicated-props

The props in these pairs are duplicated, so should be merged
- `bICId`: "The unique Bank Identification Code (BIC) as defined in ISO 9362 for this creditor or debtor financial institution."
  - `bICIdentificationId`: "The Bank Identifier Code (BIC) as defined by ISO 9362 (Banking telecommunication messages,

[2022-01-31 23:02] VladimirAlexiev commented on #31
@nissimsan @kevinbish
Conneg is pretty much mandatory.
You can start with individual files with extensions (no ext = HTML, with links to jsonld and ttl).

But if there's no chance Uncefact can add conneg for you, I think you're better off going back to edi3.org or eg w3id.org/uncefact. @mgh128 what do you think?

[2022-01-31 23:05] VladimirAlexiev commented on #25
@nissimsan I don't see /# in uncefact.jsonld, what's up? Guess the web page URLs are made independently of the JSONLD URLs?

[2022-02-01 01:52] VladimirAlexiev commented on #34
Posted half of the issues and did some edits on the gist (will update it).

@nissimsan where can I download the other parts in JSONLD:  LOCODE, code lists (especially made out as props), etc?

[2022-02-01 01:56] VladimirAlexiev commented on #5
@nissimsan
How about "limit scope to core competences" as in
"leave complex geo regions to OGC, in particular GeoSPARQL".

[2022-02-01 01:58] VladimirAlexiev commented on #8
@cmsdroff @nissimsan what do you think of https://github.com/uncefact/vocab/issues/5#issuecomment-1026404130? Comment there.

[2022-02-01 06:44] VladimirAlexiev opened #43 "Address lines"
Address: the breakdown `lineOne, lineTwo, lineThree, lineFour` is
- pretty random: why not 6 or 10?
  - Dun & Bradstreet data has StreetAddressLine1..4 in one case, but MailingLabelLine1..8 in another case. How do you squeeze 8 DnB lines into the uncefact lines?
- old-fashioned:  xsd:string allows multiple lines
- doesn't match popular address ontologies: schema.org, W3C LOCN, FIBO (https://github

[2022-02-01 06:45] VladimirAlexiev opened #44 "Document vs Line Structure"
Document has enough props to describe also "Document Lines", which are document parts:
- `lineCountNumeric`: if it's a Document, count of lines in it
- `lineId`: if it's a DocumentLine, its line ID
- `parentLineId`: to establish a hierarchy between lines

However, there's no way to express a document hierarchy or parthood:
- Which lines comprise this Document?
- Which lines are nested under this p

[2022-02-01 06:52] VladimirAlexiev opened #45 "Property Datatypes"
Currently UNCEFACT uses only two literal datatypes: `xsd:string` (791 props) and `xsd:token` (159 props).

UNCEFACT prop names are made according to ISO/IEC 11179 Metadata Registry (MDR), part 5:2015 Naming and identification principles. The last word of prop names (let's call it "kind") suggests many other datatypes.

Surely trade involves some numbers and some dates?!?

I checked that all props

[2022-02-01 09:18] nissimsan commented on #25
Good catch. So this might actually just be a surface level issue.

@kshychko, @fak3 - thoughts?

[2022-02-01 09:32] nissimsan commented on #31
Good requirement.

Moving off UN servers is not politically possible. The UN logo comes with constraints. @kevinbish, cheering on you that this can be worked out.

[2022-02-01 09:57] nissimsan commented on #34
I love the structured approach. Def. open to formalizing something like that.

@kshychko , will you share links, pls?

[2022-02-01 10:00] nissimsan commented on #5
Precisely stuff like that. Address is my own personal favorite.  :)

[2022-02-01 10:04] Fak3 commented on #4
Briefly discussed this with @onthebreeze in the past years. EDI3 issue: https://github.com/edi3/edi3-json-ld-ndr/issues/30

We converged at the point, that adding and deprecating terms in the vocabulary can happen often, new vocab "release" few times per year may happen. It was not investigated much, what kind of issues this may cause. Input welcome.

My thoughts:
Vocab "release" is in the quotes

[2022-02-01 10:16] nissimsan commented on #5
@VladimirAlexiev, pls note the balance act involved: the current consensus amongst the team is that we need to "bring everything over" along with recommendations about not using parts of it, pointing elsewhere for various areas. This might seem counterproductive ("here's a gun, don't play with it"). However, actively filtering out parts of the legacy model is considered deeply controversial from a

[2022-02-01 10:22] Fak3 commented on #43
More broader edi3 discussion: https://github.com/edi3/edi3-json-ld-ndr/issues/7

[2022-02-01 10:26] VladimirAlexiev opened #46 "decide numeric datatype"
Related to #45:

Explicitly decide and consistently use a numeric datatype.
Don't decide as late as we did in EPCIS: https://github.com/gs1/EPCIS/issues/201
- RDF supports a full complement of XSD numeric types.
- The most widely used are xsd:integer and xsd:decimal, which are infinite-precision
- JSON has builtin datatypes, which are xsd:long (I think) and xsd:double (I'm sure).
  But using bare

[2022-02-01 10:26] Fak3 commented on #45
Edi3 issue: https://github.com/edi3/edi3-json-ld-ndr/issues/51

[2022-02-01 10:28] VladimirAlexiev opened #47 ""Code" props: change to xsd:token, vs rename"
Props named `xxxCode` come in two kinds:
[code]

- `xsd:string`: 154. Consider mapping to range `xsd:token` (same as props named `xxxId`).
  xsd:oken doesn't allow leading, consecutive and trailing spaces, so it fits better than xsd:string. Example:
  - `accessRightsCode xsd:string` -> `xsd:token`
- `uncefct:...` (objects, i.e. codelist values): 110. Consider renaming them to remove `Code` (becaus

[2022-02-01 10:35] nissimsan commented on #4
@Fak3 , I actually stumbled upon this exact part of the spec when bringing over this part of the NDR yesterday. I don't think we're actually doing this (any longer).

[2022-02-01 10:39] Fak3 commented on #4
Not doing what?

[2022-02-01 10:47] VladimirAlexiev opened #48 "remove parasitic word "Identification" from prop names"
There are 103 props called `...Identification`:
[code]
Of them 99 are called "IdentificationId" (stuttering syndrome?)

Rename these 99 props by removing the parasitic word `...Identification..` from `...IdentificationId...`.
- Eg `uncefact:versionIdentificationId`, `bICIdentificationId`
- These led to prop duplication, which clearly shows the parasitic nature of the long word

----

Renaming `...

[2022-02-01 10:51] VladimirAlexiev opened #49 "fix names/descriptions of "Identification" props"
Follow-up from #48

Here are the remaining 4 props:
[code]

Proposed renaming (`...Code` can only be a string, not an object!)
- `uncefact:allowanceChargeIdentificationTypeCode` "The code specifying the type of this trade allowance charge."
  range `UNCL5189Code` "Code specifying the identification of an allowance or charge."
  rename to `allowanceOrChargeType`
- `uncefact:geoCoordinateIdentificat

[2022-02-01 10:54] VladimirAlexiev commented on #49
Another beauty:
- `uKSortCodeIdentificationId` "A unique United Kingdom (UK) Sort Code identifier as assigned by the UK Payment Association (APACS) for the financial institution."
  - Rename to `ukApacsSortCode` or `ukApacsId`
  - add rdfs:seeAlso to some info about it

[2022-02-01 10:57] nissimsan commented on #4
https://github.com/uncefact/vocab/pull/33/files#r796478697
This ^

[2022-02-01 10:59] VladimirAlexiev opened #50 "camelCasing"
You use consistent camelCasing for props, and UpperCamelCasing for classes (good!).
However, it needs to be made smarter when dealing with UPPERCASE:

UPPERCASE abbreviations should be converted to lowercase, then camelCased as a normal word
- otherwise:
  - casing is inconsistent depending on whether the abbreviation comes at the start or middle of the property name
  - The camelized abbreviation

[2022-02-01 11:12] nissimsan commented on #32
Admittedly I struggle to (find time to) keep up. But this sounds like a sketch of a Rosetta Stone for units. Hard not to get excited about the prospects.

The only thing I will note is that the starting point of this project is that everything gets done by NDR-based transformations. However, I'm personally very willing to give up that constraint in exchange for a (freakin') Rosetta Stone. Especial

[2022-02-01 11:19] VladimirAlexiev opened #51 "Prop Name Doublons"
In addition to "IdentificationId" stuttering (#48), there are more insidious dublons in prop names that need fixing

- duplicated word: `formattedFormattedCancellationAnnouncedLaunchDateTime` : but see #52 for a whole family
- duplicated word: `referenceReferenceTypeCode`
- duplicated phrase: `documentLineDocumentLineStatusCode`

[2022-02-01 11:20] VladimirAlexiev opened #52 "Parasitic Word "Formatted""
Many dateTime props have names called "formatted".
- As opposed to what, cuneiform? :-)
- You should indicate the required format with `rangeIncludes xsd:dateTime`, not with the property name

This query finds them, together with a better-named prop when it exists:
[code]

I think all `x` should be simplified by removing the parasitic words "formatted", and merged with `y` when indicated:

| x

[2022-02-01 11:24] VladimirAlexiev commented on #52
Actually all these below have `range UNCL2379Code`, so maybe should be re named to `...DateTimeFormat`:

uncefact:formattedExpiryDateTime
uncefact:formattedFormattedCancellationAnnouncedLaunchDateTime
uncefact:formattedFormattedIssueDateTime
uncefact:formattedFormattedLatestProductDataChangeDateTime
uncefact:formattedFormattedPickUpAvailabilityDateTime
uncefact:formattedFormattedReceivedDateTime
u

[2022-02-01 11:35] VladimirAlexiev opened #53 "BinaryObject vs BinaryFile"
This query finds props named "binary":
[code]

There are 15, nearly equally spread between "BinaryObject" and "BinaryFile":

[code]

Standardize on one of the names; this discrepancy has caused 2 prop duplications (attached, referenced)

[2022-02-01 11:42] VladimirAlexiev commented on #5
But if we recommend using GeoSPARQL, we should also show how it fits?
- "here's a gun, don't play with it"
- AND ALSO "here's a doll, here's how it fits in your truck, please play with it"

[2022-02-01 11:49] VladimirAlexiev opened #54 "deprecate/map UNCEFACT geospatial stuff in favor of OGC GeoSPARQL"
(Continuing https://github.com/uncefact/vocab/issues/5#issuecomment-1026404130)

OGC is a stronger authority on geographic information than UNCEFACT, so it would be better to defer to OGC GeoSPARQL classes and props
- to put it bluntly, UNCEFACT has no longer any business regulating geospatial data
- to put it constructively:
  - semantic repos have special indexes, functions and magic predicates

[2022-02-01 11:55] VladimirAlexiev commented on #54
As @nissimsan says, we can only deprecate not delete, eg
[code]
We should also map, eg
[code]

The spec is https://opengeospatial.github.io/ogc-geosparql/geosparql11/spec.html

@nicholascar, @dr-shorthair could you review my prev comment and help with mapping?

[2022-02-01 12:17] mgh128 commented on #32
Hi @nissimsan
Not sure I understand what you mean by the abbreviation NDR - is that Network Data Representation or something else?

It sounds as though the existing Turtle files are the master (rather than the master being a database from which the Turtle files are generated by some script)

What I was proposing is that we develop a repeatable procedure / script using tools such as https://github.

[2022-02-01 13:31] VladimirAlexiev commented on #34
I've updated the _gist_ and posted all issues.

[2022-02-01 14:44] VladimirAlexiev commented on #32
NDR is Naming and Design Rules, I think.
For EPCIS, I used this workflow: https://github.com/gs1/EPCIS/tree/master/Ontology#conversion-to-jsonld

[2022-02-01 22:29] dr-shorthair commented on #32
The OBO guys have begun a Rosetta Stone service here: https://units-of-measurement.org/
It uses UCUM codes as the keys.
If we could prepare a mapping table from UCUM to UNECE then I believe the CEFACT bridge could be added.

Right @kaiiam ?

[2022-02-01 23:51] mgh128 commented on #32
Looking at the Linked Data for https://units-of-measurement.org/m.s-1 and the Linked Data for https://units-of-measurement.org/kW.h there are `skos:exactMatch` links to equivalent resources at QUDT but I didn't see any links to UN ECE Rec20 code values so far.

QUDT does appear to link to the UCUM code value and UN ECE Rec 20 code value but primarily as strings or typed literals.  For example, at

[2022-02-02 01:01] dr-shorthair commented on #32
The range of `skos:exactMatch` is `skos:Concept`, so there needs to be a URI at least.

Yes, QUDT does already have some (many? all?) of the UNECE codes as annotations, so those codes can be traced starting from https://units-of-measurement.org but I suspect we could do better. Mind you, the ambitions of  https://units-of-measurement.org are modest - just to expose mappings between these URI sets.

[2022-02-02 01:17] mgh128 commented on #32
I've now done some initial experiments using SPARQL CONSTRUCT - please see https://github.com/mgh128/UnitUnity

[2022-02-02 07:05] VladimirAlexiev commented on #24
@mgh128 found 14 invalid URLs amongst the English-name URLs: https://github.com/mgh128/UnitUnity/blob/main/UNECE_Rec20_Bad_IRIs.txt.
These need to be sanitized before they are used in `owl:sameAs` statements.

[2022-02-02 07:31] VladimirAlexiev opened #55 "IDs (Code) vs URLs"
uncefact:applicableObjectCode "A code specifying an object, such as item, animal, person or organization applicable for this product certificate."

How can you identify this variety of things by using a mere string? There are no established global datasets (thus ID standards) for all of these categories of things.
IMHO this should be an object prop (URL), or define an alternative `uncefact:applica

[2022-02-02 07:37] VladimirAlexiev opened #56 "duplicate classes"
Consider these classes:
- uncefact:Certificate  "A legal proof of ownership or worthiness of an item."
- uncefact:Certification "The process of ensuring that a certain object, process, or activity has passed performance and quality assurance tests or qualification requirements." ;

From the description it seems each is needed: one is a process, the other is the documentary result of that process.

[2022-02-02 08:57] VladimirAlexiev opened #58 "prop and class descriptions"
I find many cases of misleading descriptions.
This is a very bad problem since it can't be fixed mechanically, but only through examination of the description of the combination "class-applicable props" (see #56 for an example of such investigation).

I'll keep adding below:
- #52: `formattedExpiryDateTime` (and many others) should be `expiryDateTimeformat`
- #49: `natureIdentificationCargo` has a

[2022-02-02 09:01] nissimsan opened #59 "Move schedules to Friday"

[2022-02-02 09:06] VladimirAlexiev opened #60 "split Communication to subclasses"
`Commnuication` (better called `CommnuicationChannel`) is a busy class:
[code]
| outgoing (attribs)                 | descr                                                                                                                                                |
|--------------------------|-------------------------------------------------------------------------------------------------------

[2022-02-02 09:08] kshychko commented on #17
@vocab-maintainers team has been created.

[2022-02-02 09:18] VladimirAlexiev opened #61 ""uri" props"
https://github.com/uncefact/vocab/issues/48 asks to replace "IdentificationId" with just "id".

Similarly, some props named "UriId" and similar should be renamed.
Here's a query:
[code]

- `uRLId` -> `url`
- `documentURLId`: -> `documentUrl` or just `url` (because the prop appears in document, right?
- `uRIId` -> `url`
- `uRIIdentificationId` -> `url`
- `websiteURIId` -> `websiteUri` but shouldn't

[2022-02-02 09:20] nissimsan commented on #11
Decision: assume that any issue on edi3 important enough will be re-created on this repo.

[2022-02-02 09:20] #11 closed

[2022-02-02 09:20] nissimsan commented on #16
Bravo @cmsdroff

[2022-02-02 09:20] #16 closed

[2022-02-02 09:23] nissimsan commented on #19
@onthebreeze the UN traceability project could also be added

[2022-02-02 09:24] #3 closed

[2022-02-02 09:24] VladimirAlexiev commented on #51
locationFunctionFunctionTypeCode -> locationFunctionType

[2022-02-02 09:27] VladimirAlexiev commented on #29
@nissimsan commented that LOCODE is not limited to ADM1. Eg Edmonton is a city (Alberta is the province). So schema:State is not appropriate.

However, there is uncefact:CountrySubDivision.
- It has props uncefact:subordinateCountrySubDivision,  uncefact:superordinateCountrySubDivision that allow to place it at any level

[2022-02-02 09:35] nissimsan commented on #23
We probably want to support some or all of these references. To be continued.

[2022-02-02 09:36] nissimsan commented on #23
Encouragement to please add comments here for further discussion...

[2022-02-02 09:38] nissimsan commented on #27
@kshychko , this looks like a great input. Please run with this for inspiration on our dealing iwth locodes...

[2022-02-02 09:41] nissimsan commented on #29
@VladimirAlexiev , we are dismissing this point. LOCODEs are very widely used.
@cmsdroff, please add more background.

[2022-02-02 09:42] onthebreeze commented on #23
there are a few different ideas here.

- equivalence to external vocabularies.  We can do that (e.g. unece "party" is equivalent to schema.org "organisation"
- meaningful specialisations of uncefact generic terms (eg "rail" is a type of "transportMeans").  There are potentially two sub-types of this
  - when there exists a standard uncefact codelist that enumerates the specialised types then our N

[2022-02-02 09:44] nissimsan commented on #26
@kshychko, please take a look, what options do we have.

[2022-02-02 09:47] #13 closed

[2022-02-02 09:54] nissimsan commented on #37
@kshychko , please consider this

[2022-02-02 09:56] nissimsan commented on #38
TDED = Trade Data Element Directory.

... Do we even need TDED in the vocab at all? I don't think we do.

[2022-02-02 09:57] nissimsan commented on #38
@kshychko , please elaborate where this comes from.

[2022-02-02 09:59] cmsdroff commented on #38
Here is the official definition https://unece.org/trade-facilitation-0

[2022-02-02 09:59] onthebreeze commented on #38
TDED - means "Trade Data Element Directory" - it's the vocabulary that supported the old EDIFACT domain.  Not sure how it got into this JSON-LD vocabulary but maybe from EDIFACT code lists which we pulled into this vocabulary but arent in the Core component library?

@kshychko - could you figure out where this came from?  then we can answer the question about what to do with it

[2022-02-02 10:00] nissimsan commented on #39
@kshychko , `uncefact:UNECELOCODE` seems like a bug?

[2022-02-02 10:02] VladimirAlexiev opened #63 "specifiedIdentity domain"
`specifiedIdentity` is the prop that relates an agent (Party, FinancialInstitution, Person) to `Identity`.
`Identity` holds a bunch of specific identifiers such as driversLicense, BIC, BEI, passportId, etc.

However, there's also a wrong relation from `Identity` to `Identity`:
- `uncefact:specifiedIdentity schema:rangeIncludes uncefact:Identity`: RIGHT
- `uncefact:specifiedIdentity schema:domainIn

[2022-02-02 14:47] VladimirAlexiev commented on #38
It's some code on BIEs:
[code]

I vote to keep it but rename to lowercase, omit the void values ".", and define it properly:
[code]

[2022-02-02 16:56] kaiiam commented on #32
Thanks for the mention @dr-shorthair. Yes one goal of UOM is to use UCUM codes as a Rosetta stone between existing systems.

@mgh128 UOM currently doesn't support UN ECE Recommendation 20 unit codes but I'm happy in include such mapping either as codes or mappings to the https://service.unece.org/trade/uncefact/vocabulary/rec20/# service (or similar). This would be easy to add to UOM if we had UNE

[2022-02-02 17:49] mgh128 commented on #32
@kaiiam - thanks for this - and the willingness to add additional mappings.
I have now found and checked 159 missing mappings from QUDT to UN ECE Rec20 codes and plan to submit a pull request sometime this week to QUDT, as recommended by @dr-shorthair.
You and others are very welcome to use anything in https://github.com/mgh128/UnitUnity to improve cross-references between these systems.

GS1 stan

[2022-02-02 18:37] steveraysteveray commented on #32
I was just about to publish a new release of QUDT, but I'll wait for @mgh128 to submit the PR so that it contains the new mappings...

[2022-02-02 18:39] mgh128 commented on #32
Thanks, @steveraysteveray - I will try to submit it sometime within the next 18 hours.

[2022-02-03 10:23] kaiiam commented on #32
@mgh128

👍 will do thank you.

In UOM we solved that problem with UCUM codes by ordering the elements of the UCUM code then applying a url escap function to the final UCUM code to make the unique identifier for a term. For example imperial ton [lton_av] becomes https://w3id.org/uom/%5Blton_av%5D. Perhaps something similar might be useful for the UN ECE Rec20 unit codes? We settled on UCUM however,

[2022-02-03 18:32] steveraysteveray commented on #32
Just to let you know that [Release 16 of QUDT](https://github.com/qudt/qudt-public-repo/releases/tag/v2.1.16) has now been published, containing all the new UN ECE codes submitted by @mgh128. Also, the [EDG interface](http://www.qudt.org/edg/tbl) and the [SPARQL endpoint](http://www.qudt.org/fuseki) reflect the new release, in addition to the good old [web pages](http://qudt.org/).

[2022-02-04 09:42] nissimsan commented on #32
Amazing - you guys move fast!
Thank you!!

[2022-02-18 09:08] onthebreeze commented on #10
A published vocabulary
An architecture & governance model for vocabulary management and context files

[2022-02-18 09:13] nissimsan commented on #40
@Fak3

[2022-02-18 09:18] nissimsan commented on #41
@kshychko , at one point we listed all the applicable properties - it was pretty ugly. We're not doing this anymore, but what is actually the rule we apply now?
Would you mind commenting, pls?

[2022-02-18 09:21] onthebreeze commented on #41
It's an underlying incompatibility between the UN CCTS method which duplicates classes by copying abs restricting - vs RSFS which inherits and extends

Honestly I don't know a solution to this other than to manually clean up and consequently permanently fork from the source core component library

[2022-02-18 09:24] onthebreeze commented on #42
Red connect in #41 - might need to manually fork & manually fix

[2022-02-18 09:38] onthebreeze commented on #28
Well there's an interesting question here.  UNECE is the authority for locodes but they are published as csv / pdf etc not as a json-ld vocabulary.

Our project has taken a simple mapping approach for all codes - of which locked us only one. But it loses rich semantics when the code list is a richer data set than simple name-value pairs (like locode which has port type etc)

Looks like locode.info

[2022-02-18 09:44] nissimsan commented on #44
This does indeed need some investigation. To my knowledge this doesn't actually like properties to standard documents. Unless I am overlooking something, I'm inclined to get rid of these properties.

[2022-02-18 09:46] Fak3 commented on #44
I was puzzled by the usefulness and semantics of those properties when I tried to model VC1 Wine import cert.

[2022-02-18 09:53] onthebreeze commented on #43
It might be time for a discussion about whether UNECE should continue to promote its own version of basic things like address or whether it should recognise other standards like schema.org that, at least for those terms, are vastly more widely adopted.

One solution to this is to build UN supply chain semantics as extensions on more foundational stuff like schema.org ?

[2022-02-18 10:10] nissimsan commented on #59
Rescheduling meetings to Fridays instead, as agreed.

[2022-02-18 10:18] nissimsan commented on #43
Agreed 100%, the world needs less - not more - definitions of what an address is.

It's not low priority, though; I see this as an important part of our job, making decisions like this to facilitate semantic interoperability with the broader world.

@VladimirAlexiev, I'd be interested in your opinion, is https://schema.org/PostalAddress the most suitable choice for trade and transport use cases?

[2022-02-18 10:21] nissimsan commented on #43
Pondering how we would concretely do this? I suppose remove https://service.unece.org/trade/uncefact/vocabulary/uncefact/#Address and its elements, and replace all references to it to instead reference https://schema.org/PostalAddress? Thoughts?

[2022-02-18 11:26] nissimsan commented on #42
These are excellent examples of what we inherit from the upstream model. I agree with you @onthebreeze our only option is to fork and allow ourselves to manually tidy for obvious bugs like this.

[2022-02-18 11:38] nissimsan commented on #28
@onthebreeze, or we could make a statement which points at locode.info and pull it from vocab on the UN server. @VladimirAlexiev I'd love your input on these considerations?

[2022-02-18 12:24] nissimsan opened #67 "Forking the vocab graph"
Recent issues (such as https://github.com/uncefact/vocab/issues/42, https://github.com/uncefact/vocab/issues/48 and https://github.com/uncefact/vocab/issues/41) raises bugs which will be easy and trivial to fix directly in the vocab graph, but demand complex special case treatment in the current NDR/programmatic approach. This raises the natural question: what is the value of sticking with the con

[2022-02-21 10:11] Fak3 commented on #40
Yes, it makes sense, so we can use those more specific properties.

But as a side note, maybe one day we would want to introduce such flexible Datatype-or-Relation properties? We can keep in mind that as an option and collect pros\cons of doing so.

[2022-02-21 10:31] kevinbish commented on #9
@nissimsan Apologies, I will get on this by end of the week. (Will send you an email.)

[2022-02-22 10:40] VladimirAlexiev commented on #29
Of course LOCODEs are very widely used. The issue is whether it's appropriate to have a class of that name.

I think that instead, `uncefact:CountrySubDivision` should have a field `uncefact:locode`.
@cmsdroff what do you think?

[2022-02-22 10:45] VladimirAlexiev commented on #43
uncefact:Address has a bunch of attribs that `schema:PostalAddress` doesn't (all xsd:string except as indicated:
[code]
I see normalization issues with some of them, but that's not sufficient reason to throw this class away.

[2022-02-22 10:51] VladimirAlexiev opened #68 "Address normalization issues"
(Follow-up from #43)

Address has some fields that suffer from normalization issues
- `cityName, countrySubDivisionName, countryName` are perhaps redundant given the respective Id fields in Address
- The implicit relation between these Ids should be made explicit in a gazetteer, not repeated in every address.
  Otherwise it's possible for two addresses to hold inconsistent info.

Counter-arguments

[2022-02-22 10:54] VladimirAlexiev commented on #67
@nissimsan This is a very deep question because it's core to the governance and even "value" of this project.
If it doesn't stick to the "traditional" UNCEFACT schemas and its NDRs (with all their legacy baggage), then it becomes "interpretation of the Gospel", not the Gospel itself.

I vote for modernization (thus "breaking with tradition" where warranted), but what do the others think?

[2022-02-22 10:57] VladimirAlexiev commented on #40
#55 asks to promote some data props (IDs) to object props (URLs)

[2022-02-22 11:00] VladimirAlexiev commented on #41
@onthebreeze I also don't see any better way, so this would be a lot of work.

Doing all this work just to obtain a bit richer descriptions is low-priority.

However, resolving **semantic differences** between definitions should be higher priority. Eg these two seem to give somewhat different meaning to `Accreditation`?

- prop: "An official recognition awarded to a person, organisation or thing,

[2022-02-22 11:08] VladimirAlexiev commented on #42
- #48, #49 will expose a lot of such cases because gratuitous naming differences will be eliminated, so we'll **see** the duplicates.
- `referenceDocument` vs `referencedDocument` can be caught with some simple fuzzy comparison
- `attachedBinaryFile` vs `attachmentBinaryObject` needs manual inspection

[2022-02-22 11:12] VladimirAlexiev commented on #28
I don't know where locode.info came from, or who uses them.
If you have authoritative LOCODE info, it's better to use it: I hope it won't be a lot of work to map it.

@onthebreeze would you care to make issue(s) for other codelists that can be enriched, i.e. all of their data published as JSONLD?

[2022-02-22 11:56] nissimsan commented on #29
I see, @VladimirAlexiev. We didn't understand this was your point when discussing it - reopening.
This connection must already exist in the CEFACT model - which classes make use of LOCODEs?

[2022-03-04 08:38] nissimsan commented on #67
@VladimirAlexiev, noting that we are in agreement about the direction. I love your analogy!

After having thought about this exact problem for several years I have found it increasingly less controversial:
1. Interpretation is forced upon us by the technological change, and we _are_ bringing everything over (despite the fact that the CCTS layers don't fit in particularly well on the RDF graph, we

[2022-03-04 08:43] nissimsan commented on #5
I could see this as a list of recommendations to be considered in relation to linked data implementations. And we could make references to these recommendations from the classes which we are including for completion/backwards compatibility.

[2022-03-04 08:58] cmsdroff commented on #5
Agree as this is about linked data we should show example of how to play with other toys

[2022-03-04 10:02] nissimsan commented on #67
Discussed on today's call: https://github.com/uncefact/vocab/pull/69

[2022-03-04 10:03] svanteschubert commented on #7
@kshychko
Hi Ksenya,
Especially to understand #67 I would like to take a quick walk to the code (or its design documentation)
Is it already somewhere public available?

Thanks in advance,
Svante

[2022-03-04 10:05] svanteschubert commented on #42
These duplications seem to be a problem for all UN/CEFACT syntaxes. Shouldn't this be better addressed at a 'higher level' by the UN/CEFACT library maintenance team?

[2022-03-04 10:05] nissimsan commented on #7
@svanteschubert , the specification is here:
https://github.com/uncefact/vocab/blob/main/docs/tech-spec.md

(... But of course nothing beats the actual code!)

[2022-03-04 10:20] svanteschubert commented on #67
I love the biyearly train model approach of UN/CEFACT (as an interim solution until our sci-fi dream comes true: all dependent software can be generated instantly by some CI/CD process overnight from the blueprint/specification).
Every standard (being the blueprint for software) should learn from that approach.
On the other hand, yes, certainly the semantic should not change in general, but as usu

[2022-03-04 10:22] nissimsan commented on #67
Good push back on today's meeting - thank you (especially @cmsdroff and @svanteschubert). We are debating the nature of this project, and I fully accept your viewpoints.

The realistic alternative to what I suggest on this issue is to distinguish the feedback we get on tickets between "Content" and "NDR". Everything content (for example https://github.com/uncefact/vocab/issues/42) will be fed back

[2022-03-04 10:53] svanteschubert opened #70 "Adding metadata (semantic) to find UN/CEFACT data more easily"
First of all, this is just a quick draft of an idea, that I mentioned in today's meeting.
It certainly needs some iterations and clean-up. Please show some mercy to me if it is hard to read and not easy to understand.
If too much to ask, just ping me directly and let's discuss during a tea break. Things can evolve much faster in quick dialogue.
This idea comes from endless hours in CEN TC 434 WG1

[2022-03-04 11:18] nissimsan commented on #67
Based on the above, I just took a quick pass through the current issues, tagging the relevant ones with either "NDR" or "semantics":
- Issues tagged [NDRs](https://github.com/uncefact/vocab/issues?q=is%3Aopen+is%3Aissue+label%3ANDR) deal with transformation, syntax, rdfs, and other in-scope aspects.
- Issues tagged [semantics](https://github.com/uncefact/vocab/issues?q=is%3Aopen+is%3Aissue+label%3

[2022-03-07 15:29] nissimsan commented on #42
Yes, maybe, @svanteschubert.
I labeled this `semantics` the other day (meaning unless we fork we won't touch it). However, if this is a consistent error which can be fixed with not-overly-complex code I wouldn't be against tagging it (also) as NDR and take it upon our internal scope to fix.
(I hope it makes sense what I am expressing here :) )

[2022-03-11 11:03] svanteschubert commented on #70
Please allow me to drop some basic questions and draft ideas, which I had not the time to discuss and distil to a far shorter and more didactic comment.

### Some basic questions

1. What is the vocabulary you have in mind? EIther a Taxonomy or Folksonomy
https://en.m.wikipedia.org/wiki/Folksonomy#Folksonomy_vs._taxonomy
2. How can this new metadata be used to enhance software?
From my perspective

[2022-03-16 11:03] nissimsan commented on #67
After further thought, digesting last meeting's input, I'm fine to abandon this idea. I suggest we aim to make a quick decision on Friday and get this closed.

[2022-03-16 12:12] cmsdroff commented on #67
For info some of the same questions have been asked by the API JSON schema export tech spec team.

Not sure who is on that team or if how we should align this, but it feels like passing the semantic issues back is the right approach.

Im in the Library maintenance team call but it will likely be rolled to next week due to the volume of submissions. I'll follow this along with the library submissio

[2022-03-18 09:11] nissimsan opened #71 "Update spec with forking decision"
Ref #67.

[2022-03-18 09:13] nissimsan commented on #67
Decision made - we will not fork, but rather pass back semantic issues to modelling teams. Closing ticket.

[2022-03-18 09:13] cmsdroff opened #72 "Define a process for reporting Semantic Issues back to UN/CEFACT"
We identified semantic issues that should be reported back to UN/CEFACT and most likely the library maintenance team, there are some cross overs with the API projects on these semantics.

We need to define the process with UN/CEFACT so we can raise the tickets and pass the feedback to the appropriate internal teams to make decisions or changes.

We should also know within the vocab project how we

[2022-03-18 09:14] cmsdroff commented on #72
@nissimsan please assign to me and Kevin as I down have ability to do so.

[2022-03-18 09:14] #67 closed

[2022-03-18 09:21] nissimsan commented on #7
@kshychko will run with this shortly.

[2022-03-18 09:23] nissimsan commented on #8
@cmsdroff , please action.

[2022-03-18 09:25] nissimsan commented on #4
@Fak3, can you please share an assessment of how we should be dealing with this.
(Note that we will not be forking the model #67 ).

[2022-03-18 09:28] nissimsan commented on #52
@VladimirAlexiev , we have attempted to strip such terms in the NDR. Thanks for pointing this out - we will address it.

[2022-03-18 09:34] nissimsan commented on #54
@VladimirAlexiev, we are discussing this on the call now.
It is not the role of this project to interfere with the semantics. However, the two actions we will take are:
- List equivalence vocabularies for overlapping areas.
- Pass back this recommendation to UN modelling teams suggesting removal of this part of the BSP model.

[2022-03-18 09:34] nissimsan opened #73 "Add list of overlapping vocabs to NDR."
For example this:
https://github.com/uncefact/vocab/issues/54

[2022-03-18 09:35] onthebreeze commented on #54
This is an issue for the UNCEFACT business domains /  vocabulary management.  I suggest
y
* we start a list of alternative vocabularies (eg schema.org) - not stating preference just listing them
* we feeedback to the business domain that we suggest they may like to deprecate the UN geospatial vocabulary in favour of another.

[2022-03-18 09:49] nissimsan commented on #24
@VladimirAlexiev, thank you for this. We're discussing this now, and there is general agreement to switch to building these IRIs from the codes (`value`) instead of the name.

We will do this not only for Rec20, but generally for all recommendations.

The likes of https://service.unece.org/trade/uncefact/vocabulary/rec20/#kilometre_KMT is most likely how we're getting it in the source file.

 @ksh

[2022-03-18 09:50] nissimsan commented on #19
@cmsdroff , please action.

[2022-03-18 09:52] nicholascar commented on #54
Please note that GeoSPARQL 1.1 now contains a better explanation of the Simple Features geometry types classes (https://opengeospatial.github.io/ogc-geosparql/geosparql11/spec.html#_geometry_class_hierarchy) and an annex listing alignments with other ontologies (https://opengeospatial.github.io/ogc-geosparql/geosparql11/spec.html#_annex_e_alignments_informative).

For the classes listed above, I s

[2022-03-18 09:53] nissimsan commented on #51
Discussing on the call how could make an NDR rule to sort these sorts of situations out.

Best option is likely to simply remove duplicate words right next to each other.

@kshychko please run with this.

[2022-03-18 09:55] mgh128 commented on #24
Dear @nissimsan
Many thanks for this.  I strongly support this change.  It will make the UN ECE Rec20 and other code lists much easier to lookup as terms in a Web vocabulary if each code list has a common URI stem that can simply be appended by a compact alphanumeric code value to obtain useful information.

If you or @kshychko would like any help in preparing this, I'm happy to help.

[2022-03-18 10:03] nissimsan commented on #25
Agreed, `/#` is wrong.

@kshychko will reach out to her colleague who did the static web publishing. Hopefully this is not too hard to fix - it does need fixing.

[2022-03-18 10:06] mgh128 commented on #24
However please reconsider whether you really want https://service.unece.org/trade/uncefact/vocabulary/rec20/#kilometre_KMT
rather than
https://service.unece.org/trade/uncefact/vocabulary/rec20/KMT

With something like https://service.unece.org/trade/uncefact/vocabulary/rec20/KMT you can:

1. Append *any* Rec20 code after https://service.unece.org/trade/uncefact/vocabulary/rec20/  to find out what

[2022-03-21 00:49] dr-shorthair commented on #24
Yes, "/" URIs are definitely preferable to "#" URIs for large URI sets like this.

[2022-03-21 10:59] nissimsan commented on #24
@mgh128, I was commenting on a couple of different things. I was writing "live" during our call, so it went a bit fast. :) Let me elaborate:

First on foremost, we will change the URI to `https://service.unece.org/trade/uncefact/vocabulary/rec20/#KMT`, constructing the URI from the value instead of the description.

The link I included was in response to @VladimirAlexiev's question _"why KMT is ap

[2022-03-21 11:11] nissimsan commented on #25
[dr-shorthair](https://github.com/dr-shorthair), [mgh128](https://github.com/mgh128), this is the ticket for discussion `/` vs `#`.

Everyone, it is suggested that we go with `/` in order to serve smaller files (instead of fragments of the full list):
https://github.com/uncefact/vocab/issues/24#issuecomment-1073389923

I would agree that we generally have a problem with the size of the files we se

[2022-03-21 11:28] nissimsan commented on #54
@nicholascar, awesome! This is a great format for this NDR section. I love it - thank you!

[2022-03-21 12:13] mgh128 commented on #24
@nissimsan  - many thanks for these additional clarifications - great to see that you're now considering a common URI stem that can simply be appended by any Rec20 unit code to retrieve relevant data - even better if you're also open to considering a trailing slash rather than hash, so that you can serve data for an individual unit code.  Please feel free to link to the comments from myself and @d

[2022-03-21 12:37] nissimsan commented on #24
@kshychko, the sooner we get your [code on the repo](https://github.com/uncefact/vocab/issues/7), the more transparent our process will be, and the higher the chance that someone like @mgh128 will make pull requests representing his great input! :)

[2022-03-22 01:42] mgh128 commented on #24
https://mgh128.github.io/UnitConverterUNECERec20/index2.html  provides a very simple demo using the approach outlined above to convert between interconvertible units of measure.  I've added some data graphs for units of mass, to show how the proposed property `uncefact:siUnit` can be used to group units that are interconvertible so that we can warn about attempts to convert between non-interconver

[2022-03-23 08:18] nissimsan commented on #25
https://www.w3.org/TR/cooluris/
^ Good resource for direction on these sorts of matters.

[2022-03-29 12:56] VladimirAlexiev commented on #25
#26 is more relevant why `/`.
@nissimsan Is it possible to fix URLs to use `/` now even if they'll be published as big pages with many resources?

[2022-03-30 06:59] #59 closed

[2022-03-31 22:24] cmsdroff commented on #19
Welcome some comments or a steer on the below, I've looked at schema.org, IATA and the UNCEFACT vocab and made a start at defining a shipping container which could be used by BIC for their container database, but also for industry to define a shipping container.

We would need to link this to the CEFACT vocab for `TransportEquipment` see https://tinyurl.com/y8hu7emc and below as a start.

[code]

[2022-03-31 22:27] cmsdroff commented on #19
@nissimsan made a start!

[2022-04-01 07:48] cmsdroff commented on #72
I've requested some time on the library maintenance call on the 13th April to bring this up with the library maintenance team and either get a a steer on where the process is documented or to document one.

Will also liaise through Gerhard with the API team who also have similar points.

[2022-04-01 08:09] #71 closed

[2022-04-01 08:38] nissimsan commented on #72
What is CEFACT's issue tracking system? CUE?
Library maintenance. Excel-based?

[2022-04-01 08:41] cmsdroff commented on #72
Here's the current changes https://github.com/uncefact/vocab/issues?q=is%3Aopen+is%3Aissue+label%3Asemantics

Maerek has offered to look into this internally

[2022-04-01 08:43] nissimsan commented on #72
We need a paragraph to put on the semantic tickets too before closing

[2022-04-01 08:46] nissimsan commented on #23
We will do this with english sentences in the section:
https://github.com/uncefact/vocab/blob/main/docs/tech-spec.md#equivalence-vocabs

[2022-04-01 08:46] #23 closed

[2022-04-01 08:59] nissimsan commented on #32
I'll close this ticket. Again: awesome - we're proud that this link has been established!  :)

[2022-04-01 08:59] #32 closed

[2022-04-01 09:16] nissimsan commented on #32
(Noting that there is still some work to be done on our end: https://github.com/uncefact/vocab/issues/24)

[2022-04-01 12:43] mgh128 commented on #32
We're also very happy about the collaboration.  Let us know if you'd like any help with (or review of) your team's work

[2022-04-01 16:24] steveraysteveray commented on #24
Just catching up with this thread. A couple of items that might be useful to you:
1. [This wiki entry](https://github.com/qudt/qudt-public-repo/wiki/Support-for-measures-of-absolute-values-and-for-intervals-(differences)) discusses the mathematics behind our use of conversionMultiplier and conversionOffset.
2. [This wiki entry](https://github.com/qudt/qudt-public-repo/wiki/Unit%20Vocabulary%20Subm

[2022-04-01 16:36] mgh128 commented on #24
Thanks, @steveraysteveray
That's helpful.  I think I'd figured out the logic for `conversionMultiplier` and `conversionOffset`.

Because we sometimes run into fractions such as 5/9 with recurring decimal places, I actually wonder whether it might be even better to express a `conversionMultiplier` and `conversionDivisor` as you can see in the source code of my proposal at https://mgh128.github.io/U

[2022-04-04 10:45] nissimsan commented on #19
Awesome, @cmsdroff !

The one thing I would ask before PR'ing this example would be to also include an actual un/cefact definition. You define the context, but don't use it.
To be clear: it's perfectly cool to have bic definitions also. It serves a good purpose to have both contexts in the example. but without using cefact, it's not really a cefact example. :)

Here is the parsed graph:
[code]

[2022-04-14 17:48] nissimsan commented on #50
@VladimirAlexiev, I disagree with your argument here.

australianSNIdentificationId is "The Australian Small Network (SN) identifier as assigned by the Australian Payments Clearing Association (APCA) for this creditor financial institution." (see [here](https://service.unece.org/trade/uncefact/vocabulary/search/index.html?query=australianSNIdentificationId))

This is the input we're working from:

[2022-04-14 17:48] #50 closed

[2022-04-14 17:56] nissimsan commented on #48
@kshychko, I think this might actually be worthwhile cleaning these `IdentificationId` out in the code. They sure are ugly.

[2022-04-14 17:59] nissimsan commented on #48
`Creditor_ Financial Institution. Hong Kong Bank_ Identification. Identifier`

As far as I can tell consistently, `Identification` is always paired with `Identifier`. So we could just ignore `Identification` altogether.

[2022-04-14 18:55] nissimsan commented on #28
I added a note about this in the NDR spec. I think that's as far as we should go; it's really not a recommendation as long as we have no idea of how it is maintained - if at all.

[2022-04-14 18:55] #28 closed

[2022-04-15 07:28] nissimsan opened #82 "Code comments"
Especially `BSPToJSONLDVocabulary.java` needs to commenting to make it clear what's going on.

[2022-04-15 07:29] nissimsan commented on #82
@kshychko, I'll be happy to contribute. But ideally you's give it a first pass.

[2022-04-15 08:00] nissimsan opened #84 "Deployment pipeline"
Certain issues are not solved in generating the ld graph, but in the server deployment phase (such as [this](https://github.com/uncefact/vocab/issues/25)). So we need include the web server deployment also as part of the project focus.

Whether we can automate this, or just practice doing it manually, it's in any case good to practice this effort as we approach deploying a version 1.0.

[2022-04-15 08:21] cmsdroff commented on #19
I plan to relate it to the `TransportEquipment` https://service.unece.org/trade/uncefact/vocabulary/uncefact/#TransportEquipment

the UN is of course multimodal and this is a specification of the transport equipment in relation to a 'Container'

[2022-04-15 08:27] cmsdroff commented on #72
Here's the feedback from library maintenance on the process, I have also some supporting documents, but suggest we define the process here in the eyes of an external participant and add to one of our deliverables on 'how to' report semantic issues.

**CCL production steps**

1.	Submission sent to Library Maintenance using template (see submission template)
2.	Editor assigned to the submission
3.	E

[2022-04-15 08:28] #48 closed

[2022-04-15 08:43] cmsdroff commented on #72
@kshychko and @nissimsan correctly identified that maybe we don't propose the solution we just want to report the anomalies to library maintenance.  It is agreed that for outsiders maybe not using internal tools these changes would be quite difficult to propose a solution.

@cmsdroff to follow this back in this way

[2022-04-15 08:51] cmsdroff commented on #72
**Todo**

@cmsdroff to action the following:

* Collate the semantic issues that have been reported and send to library maintenance.
* Note that its sent to library maintenance
* Comment to vladimir to show action
* Close tickets but use to comment for tracking removing from the project but showing action for reference

[2022-04-15 08:56] nissimsan commented on #5
We've included this sections in the bottom of the spec - closing.

[2022-04-15 08:56] #5 closed

[2022-04-15 08:57] nissimsan commented on #9
@kevinbish, can you action this pls?

[2022-04-15 09:12] #37 closed

[2022-04-15 10:06] nissimsan commented on #24
@kshychko , we need to also have the code list source files included on the repo, pls.

[2022-04-15 12:12] cmsdroff opened #87 "Source of BSP to be confirmed"
From discussion with CEFACT about the work we are doing and specifically this page https://service.unece.org/trade/uncefact/vocabulary/uncefact/

It is acknowledged by all it is in a `Draft` format release, on enquiry of how we make this `Official` it will need to go through a publication process and be produced from a UNECE release (twice a year)

It was understood that as we only had the Excel v

[2022-04-15 12:17] cmsdroff commented on #87
@nissimsan this is a potential blocker to the project timeline, the API Spec team do not as yet have an output available, also the code generation is based upon the Excel BSP 20a release and we need a repeatable way to produce the json-ld without human intervention.

[2022-04-19 10:45] nissimsan commented on #87
Making it a blocker to change the source data format [which we have](https://github.com/uncefact/vocab/blob/main/scripts/transformer/src/main/resources/BSP%20D20A%20Context%20CCL.xlsx) with a format which does not yet exist seems like a rather bad idea to me.

Everyone would prefer JSON over Excel, so once a source file is available which is technically superior and produced from a stadardized pro

[2022-04-19 10:50] cmsdroff commented on #87
In hindsight agree about blocker state at this point (as nothing we can do about it), I added that comment as for the vocab to be official output we will need to do this from what I understand in regards the process.

I think the ticket should remain open as we decided to add issue to track the conversation

Open to the project lead decision as it can be re-opened later :)

[2022-04-19 11:59] nissimsan commented on #87
That's fine, we can keep it around to remind ourselves to keep an ear out for updates.

[2022-04-26 19:53] VladimirAlexiev commented on #50
@nissimsan don't tell me you are happy with `bBANIdentificationId`?

How is `bBAN` any better than `bban`?

[2022-04-26 20:36] mgh128 commented on #50
@nissimsan, @VladimirAlexiev
Although it might require some second guessing that SN = serial number, I think `australianSNidentificationId` might be slightly better than `australianSNIdentificationId` because dentification itself exists as a word, meaning 'formation or conversion into a dental structure', so lower-casing the initial i in identification makes clear that it belongs together with the

[2022-05-02 16:09] nissimsan commented on #50
@VladimirAlexiev, that's what I'm telling you. I care less about what the result looks like, more about a simple, consistent principle: camelCase means first word lower case subsequent start letters upper case, irrespective of whether its a full word or acronymized. So, `bBAN` - ugly as it is, not disputing that - tells me that this is a 4-letter camel cased acronym.

@mgh128, yeah, you bundle acr

[2022-05-02 17:23] mgh128 commented on #50
Hi @nissimsan
That's fine.  I don't feel too strongly about it.  I suppose I'm used to us taking a very pragmatic approach in the GS1 work groups in which I participate, where I (and others) don't hesitate to call out anything that looks silly or where the name or definition or data modelling is  ambiguous - and to make constructive pragmatic proposals about how we think things should be done - bu

[2022-05-03 07:55] nissimsan commented on #50
Lovely, @mgh128! Much appreciated.... :)

[2022-05-05 22:38] kshychko commented on #52
The following NDR rules were implemented to produce the suggested changes in this ticket:
1. **Data Type Qualifier** is being ignored when **TDED** is 2379
2. `Formatted` word in **Property Term Qualifier** is being ignored when **Representation Term** is set to `Date Time`

[2022-05-06 08:06] nissimsan commented on #10
@kevinbish you think you'll get around to this?

[2022-05-06 08:27] nissimsan commented on #29
Discussion on today's call:
Here are Australia's subdivisions: https://service.unece.org/trade/locode/au.htm
Here's what we have: https://service.unece.org/trade/uncefact/vocabulary/unlocode-au/

This issue is about bringing over subdivisions into the vocab.

[2022-05-06 08:35] cmsdroff commented on #72
The above is now done and I have reported back to Jorg who is leading the API team, @nissimsan your in copy the link for all semantic tickets (open or closed) is https://github.com/uncefact/vocab/issues?q=+is%3Aissue+label%3Asemantics+

So now I will close the `semantic` labelled issues.

@VladimirAlexiev I am closing the semantic tickets, we have agreed to report these back to UNECE to resolve in

[2022-05-06 08:35] #72 closed

[2022-05-06 08:38] nissimsan commented on #26
Discussing this on the call. There's general agreement that splitting into individual pages would be much preferred. We're primarily debating the priority of this (we're a quite limited team).

[2022-05-06 08:41] nissimsan commented on #27
@VladimirAlexiev , @Fak3 , what would be the ideal URI you'd like to see?
`https://service.unece.org/trade/uncefact/vocabulary/unlocode/ADAVL`?

[2022-05-06 08:42] kevinbish commented on #10
Ideally, as @onthebreeze said the main outcome of this project exit will be a published vocabulary.

_On a side note: But I am also mindful that there needs to be an overall strategy for the Vocab and API management. I have been in discussion with the Bureau on this; Chair Sue and VC Marek, as well as the Lib Maint Team and another API tech Spec Project about this to formulate a strategy that defi

[2022-05-06 08:43] nissimsan commented on #31
@kevinbish, we need your involvement on this, pls.

[2022-05-06 08:47] nissimsan commented on #31
I raised the same request back in the days:
https://github.com/edi3/edi3-json-ld-ndr/issues/48

[2022-05-06 08:51] nissimsan commented on #31
@VladimirAlexiev, we're requesting support for this from the UN technical team. Any additional input you can provide us describing how this is done would be much appreciated.

[2022-05-06 09:16] mgh128 commented on #31
https://httpd.apache.org/docs/current/content-negotiation.html provides some examples if you're using the Apache webserver.

https://www.iana.org/assignments/media-types/media-types.xhtml provides a complete list of Media Types registered with IANA

For example, you'll probably want to support:

text/turtle for .ttl files
application/ld+json for .jsonld files

The idea of content negotiation is th

[2022-05-06 09:38] kevinbish commented on #31
Will it be possible to configure this via the directory with https://service.unece.org/trade/uncefact/vocabulary/uncefact/ **.htaccess** with the correct rules?

(I write to UNECE ISU with you and @VladimirAlexiev and the UN/CEFACT Chair in copy to request the correct [HTTP Content-Type Header] be returned for the directory it may be quicker than way.)

[2022-05-06 12:52] VladimirAlexiev commented on #19
@ cmsdroff reaching out into BIC is an awesome idea, however the JSONLD is wrong. Always convert to turtle (or trig) to check your work.

Some brief observations (there may be more)
- superfluous graph (b0 in @nissimsan 's conversion)
- prop names should use lowerCamelCase
- lumping props under the class is no good. You need to define rdfs:domain or schema:domain includes
- `type, description, tex

[2022-05-06 12:56] VladimirAlexiev commented on #72
Thanks @cmsdroff !

[2022-05-06 13:33] cmsdroff commented on #29
Im not sure merging `locode` into the `CountrySubDivision` is correct unless i'm missing something (apologies if so)

So were all on same page with what a UNLOCODE is and how its constructed

Example:
If we take `GBSOU` as an example.
`GB` is the ISO Country Code i.e. `United Kingdom`
`SOU` is the code assigned to `Southampton` a City in the UK and also a Port (defined by the function)

If we look

[2022-05-07 00:26] IanWattAU01 commented on #31
As a Bureau Vice Chair I will ensure this matter #31 is known at Bureau.

[2022-05-07 07:53] kevinbish commented on #31
Thank you @IanWattAU01  . Partly, this is one of those things in the UN system; whereby, the more higher-level people asking for something the quicker it happens.

The reason in part that this has taken so long to resolve is that I have no control of the technical resources and have to constantly battle ISU or UNOG daily for simple configuration/changes like this.

I will follow up with Maria on t

[2022-05-10 12:52] kevinbish commented on #31
UNECE server should now be returning the proper response.

![header response](https://user-images.githubusercontent.com/37117199/167632734-40265cf5-bac5-4669-a132-c2707934e7f5.png)

[2022-05-10 13:45] mgh128 commented on #31
Thanks - it's good that it's setting the Content-Type: and CORS headers correctly when requesting https://service.unece/org/trade/uncefact/vocabulary/rec20.jsonld

However, when I tested it just now (using Chrome extension ModHeader to specify an `Accept:` header value of `application/ld+json` when requesting the URL https://service.unece/org/trade/uncefact/vocabulary/rec20 )  I still received the

[2022-05-12 12:00] #68 closed

[2022-05-12 12:00] #61 closed

[2022-05-12 12:00] #60 closed

[2022-05-12 12:00] #58 closed

[2022-05-12 12:01] #56 closed

[2022-05-12 12:02] #55 closed

[2022-05-12 12:02] #53 closed

[2022-05-12 12:02] #49 closed

[2022-05-12 12:02] #44 closed

[2022-05-12 12:02] #43 closed

[2022-05-12 12:03] #42 closed

[2022-05-12 12:03] #41 closed

[2022-05-13 09:23] cmsdroff commented on #87
Dear all made a request o note SPEC call today for a copy of the json schema that is being worked upon even in draft so we can consider what this means for us to look at change request.  Will advise once received.

[2022-05-16 15:57] stuchalk opened #89 "Awareness of Units Summit Summer 2022"
Sorry this is not an issue but a message just trying to get in touch with the developers of this project. There will be three coordinated session at ScIDataCon 2022. See this page for more info. https://codata.org/initiatives/task-groups/drum/units-summit-recap-meeting/

Stuart Chalk
DRUM Secretary
https://codata.org/initiatives/task-groups/drum/

[2022-05-17 09:06] nissimsan opened #91 "Project duration"
We need to apply for project extension, so we need to estimate how long the project needs to run for. I'd like y'alls view on how long you see it will realistically take to complete remaining issues. Part of this is also deciding on non-essential issues. Let's talk it over on the next call.

[2022-05-20 11:42] mikaelgu80 opened #92 "IRI vs URI"
https://github.com/uncefact/vocab/blob/main/docs/tech-spec.md describes an IRI as a Uniform Resource Identifier. While IRI builds upon URI, the correct term for IRI is Internationalized Resource Identifier.

[2022-05-22 11:25] kshychko commented on #51
The following NDR rules were implemented to produce the suggested changes in this ticket:

1. When **Object Class Term Qualifier** with **Object Class Term** or/and **Data Type Qualifier** are used to generate a property name they, are checked if the next word/phrase starts with the same character sequence.
1. Additional final check splits every property name into words and removes the duplicate w

[2022-05-23 10:41] #51 closed

[2022-05-26 20:06] cmsdroff commented on #19
Great feedback @VladimirAlexiev is done the above by hand as I was learning but now looking at these suggestions and hope to have something revised inline for next meeting 👍

[2022-05-26 20:23] cmsdroff commented on #87
I think we need to push this for a draft spec adding an email reminder to api spec team

[2022-05-27 08:24] nissimsan opened #94 "All rec code lists should have URIs with codes, not descriptions"
Similar to https://github.com/uncefact/vocab/issues/24, but also for rec 21, 24, 28 and EDIFACT.

[2022-05-27 08:29] nissimsan commented on #24
Code is implemented for this, pending published version

[2022-05-27 08:30] nissimsan commented on #91
Doing this now

[2022-05-27 08:33] nissimsan commented on #73
Two examples of this already added. CLosing.

[2022-05-27 08:33] #73 closed

[2022-05-27 08:35] nissimsan commented on #63
@Fak3, this is mainly a question for you, I think. Can you comment, pls.

[2022-05-27 08:37] nissimsan commented on #52
Code for this is implemented. Let's keep the ticket open until deployment, so we can test.

[2022-05-27 08:45] nissimsan commented on #35
<img width="832" alt="image" src="https://user-images.githubusercontent.com/34443212/170664696-edc4d321-356d-4aba-b161-981b2580fa4a.png">
Definitely a bug

[2022-05-27 08:49] nissimsan commented on #26
@VladimirAlexiev , how should we do this exactly? Should we slice it into each resource having its own file? It'll be many thousands of files. Is that a better practice? (It will be a challenge for our brittle deployment process)

[2022-05-27 08:53] nissimsan commented on #25
@kshychko thinks this will be solved as part of https://github.com/uncefact/vocab/issues/26

[2022-05-27 08:54] nissimsan commented on #7
This is done

[2022-05-27 08:54] #7 closed

[2022-05-27 08:59] nissimsan commented on #84
@kshychko , please add requirements for a "modern server" needed to improve this process.

[2022-05-27 09:16] mgh128 commented on #24
Thanks! Looking forward to seeing that

[2022-05-30 22:45] stuchalk commented on #89
It' both an invite to participate in the summit and tell us what is need to support digital units, and an awareness issue.  There is a lot happening (or about to happen) in this space and the DRUM group is trying hard to make sure the community is aware and can tell us what is needed for digital units…

Stuart

On May 26, 2022, at 4:22 PM, David Roff ***@***.******@***.***>> wrote:

Hi @stuchalk<h

[2022-06-10 08:10] nissimsan commented on #89
Note we're already aligning to https://www.qudt.org/

[2022-06-10 08:13] nissimsan commented on #8
https://github.com/uncefact/vocab/blob/main/docs/tech-spec.md#scope

We did this.

[2022-06-10 08:13] #8 closed

[2022-06-10 08:15] nissimsan commented on #94
For example
`https://service.unece.org/trade/uncefact/vocabulary/rec20/#58`
instead of
`https://service.unece.org/trade/uncefact/vocabulary/rec20/#net_kilogram`

[2022-06-10 08:21] nissimsan commented on #34
@cmsdroff , let's take a look at this.

[2022-06-10 08:22] nissimsan commented on #34
Why would we need anything more than https://github.com/uncefact/vocab/issues?

[2022-06-10 08:25] nissimsan commented on #45
It's very hard to disagree on this! :)

@kshychko , we did some work on this - can you double check if this was fixed already, pls?

[2022-06-10 08:26] nissimsan commented on #45
@Fak3 , how are you doing? We'd love to have you back and attend the calls!!! ❤️

[2022-06-10 08:31] nissimsan commented on #46
We're currently mapping `Amount` and `Numeric` to xsd:decimal.
We should perhaps revisit that logic!

... Having said that, as always we will not decide on any anything modelling-related, including datatypes. We can only work with what we're getting from upstream.

[2022-06-10 08:33] nissimsan commented on #46
![image](https://user-images.githubusercontent.com/34443212/173025495-39f98caa-1ff8-4ac2-a454-a8f272594c9b.png)

[2022-06-10 08:36] nissimsan commented on #46
`Numeric` seems like it should be mapped to `Integer`

[2022-06-10 08:38] nissimsan commented on #46
As far as I can tell only `Value`, `Rate` and `Numeric` are actually simple types.

[2022-06-10 08:39] cmsdroff commented on #4
We have a section in here https://github.com/uncefact/vocab/blob/main/docs/tech-spec.md#versioning which covers how the versioning is covered, i've added in that we will tag official releases (for historic and stability).

The question remains if we have implemented the date as below from comments in https://github.com/uncefact/vocab/pull/33/files namely

[code]

I don't think this is implemented

[2022-06-10 08:44] nissimsan commented on #47
Good suggestion making these `xsd:token`. @kshychko , tagging you to make this change.

Discussion it on the call, we reject the suggestion of removing "Code", though.

[2022-06-10 08:51] cmsdroff commented on #10
@kevinbish ive updated the https://github.com/uncefact/vocab/blob/cmsdroff-docs-changes/docs/tech-spec.md to reflect this.

Also the discussion that @nissimsan mentions

This is related to (in my opinion) to #87 and suggest we have any further conversation over there about this.

@kevinbish anything else we need to do or can we close this ticket?

[2022-06-10 12:12] nissimsan opened #97 "Switch meetings to Thursday"
@onthebreeze  is asking if we can switch the meeting cadence to Thursday? Friday night is though - it's hard to not sympathize!

[2022-06-10 13:02] kevinbish commented on #97
It is OK with me.

[2022-06-10 14:11] cmsdroff commented on #97
good also for me

[2022-06-10 19:10] stuchalk commented on #89
Yes, I have seen some of what's going on and that is good news :)

[2022-06-14 09:30] kshychko commented on #97
good for me too

[2022-06-15 09:40] nissimsan opened #98 "Repo name?"
With the github.com/uncefact/ shaping up, we should align to a larger naming convention. Something `spec-xxx`. Any suggestions on a better name? `/vocab` was starting to feel weak anyway.

[2022-06-15 10:22] nissimsan commented on #97
Thanks all - moving to Thursday, then!

[2022-06-15 10:22] #97 closed

[2022-06-23 08:17] nissimsan opened #100 "Recommendations scope"
Which of https://unece.org/trade/uncefact/cl-recommendations should we include in scope to publish.

Make issues for the ones to be covered.

[2022-06-23 08:31] nissimsan commented on #94
This is done now.

🙌 @kshychko

[2022-06-23 08:33] onthebreeze opened #101 "How best to represent hierarchical code-lists?"
Codes Like

* Harmonised tariff codes (4-levels)
* UN/LOCODE (2 levels)
* Industry classification (3 level)

Are essentially trees.  Even though each code in the tree has a unique value - eg L1.L2.L3.L4.  Whats the semantically correct way to represent these in JSON-LD?  I can see two options

* Keep them as flat lists (because each code in the tree is unique anyway). in this case a semantic proce

[2022-06-23 08:35] #24 closed

[2022-06-23 08:37] #52 closed

[2022-06-23 08:41] nissimsan commented on #63
![image](https://user-images.githubusercontent.com/34443212/175256455-4d0b8950-0ae5-4f4c-bc6e-cd158be2be9a.png)

[2022-06-23 08:42] nissimsan commented on #63
Make sure this is a transform problem, not a source data problem.

[2022-06-23 08:44] nissimsan commented on #40
@Fak3 , would you mind taking a closer look at this, pls?

[2022-06-23 08:49] nissimsan opened #102 "Run git Action to publish artefact JSON-LD"
So that we have the target model available and can test results.

[2022-06-23 08:51] nissimsan commented on #39
Related to #27

[2022-06-23 08:51] onthebreeze opened #103 "which tools / viewers should we use to test our output?"
We are writing rules for JSON-LD generation, following semantic web best-practices (RDF/OWL).  The intent of all this is that any JSON-LD/RDF tool should be able to import the vocabularies and present them in such a way that a business user sees a graph that makes sense.  Basically it's an important test to "try" the vocabulary before we lock down decisions that impact our specification.

Which to

[2022-06-23 08:55] nissimsan commented on #38
Agreement on the call to skip the blanks. We don't have to explicitly capture "there is no TDED mapping for this value".

[2022-06-23 08:59] nissimsan commented on #36
Related to #63

[2022-06-23 09:05] nissimsan commented on #36
![image](https://user-images.githubusercontent.com/34443212/175261794-597d0d76-bbc5-4bb2-b27a-97f5102834ff.png)

[2022-06-26 07:55] onthebreeze commented on #98
can we please agree to a repo name called

spec-jsonld

I'd like to change it so that I can correctly reference it from other documents - notably the whitepaper on VCs for cross borer trade.

[2022-07-12 06:10] Fak3 commented on #36
It is not related to #63. This issue is about metadata "hints" for humans we leave to keep the trace from which BIE  the rdf class or property was generated.
To resolve this issue we should add proper type to our context:
[code]

[2022-07-12 16:37] Fak3 commented on #26
Can you please expand this "semantic web crawlers" usecase? I can hardly imagine that some web agent is only interested in single term from our vocab, but quite the opposite - to make sense of any term you have to download them all. So possibility to download the whole vocab seems more optimal.

Speaking of human convenience though, current html page is huge, loads slow and its hard for a human to

[2022-07-12 16:42] Fak3 commented on #63
I suspect that our class grouping rules are wrong with grouping Financial and Personal Identities into one Identity. We discussed with  @kshychko and she can try to change the grouping rules so that we can analyze if it will work better.

[2022-07-12 23:31] kshychko commented on #63
@Fak3, I created the md file with classes that are grouped at the moment, but probably should be split.
https://gist.github.com/kshychko/dbcdb3cb6c383622a71f8c093298575a
Shared properties are marked as bold. It also revealed the issue with the property naming for some properties like `associatedDocument` in `LineTradeTransaction` class, it is listed there three times, but I'll raise a separate tic

[2022-07-14 07:46] Fak3 commented on #63
CreditorFinancialAccount | DebtorFinancialAccount | FinancingFinancialAccount also look very similar, it is worth merging them, replacing creditorFinancialAccountTypeCode anf debtorFinancialAccountTypeCode with a single typeCode

[2022-07-14 07:47] Fak3 commented on #63
Also GeographicalCoordinate and SpecifiedGeographicalCoordinate - must be merged

[2022-07-14 07:54] Fak3 commented on #63
There are even more contrived cases - ControlSettingParameter and OperationalParameter seems to be the same concept, so worth to merge, but the DocumentContextParameter looks completely separate thing

[2022-07-14 07:55] kshychko commented on #63
Yep, those ones are initially the reason why we wanted to merge the classes. But in this case, the Consignment class has a property of the type Consignment. Is that dependency OK?

[2022-07-14 08:40] nissimsan commented on #36
@kshychko fixed this

[2022-07-14 08:40] #36 closed

[2022-07-14 09:04] nissimsan commented on #63
Discussed on July 14 2022: we need to "squash" all qualifier classes together and merge their identities.
Relationships between difrerently qualified should just become a self-reference.

[2022-07-18 12:14] nissimsan opened #108 "`404` on https://service.unece.org/trade/uncefact/vocabulary/uncefact/"
https://service.unece.org/trade/uncefact/vocabulary/uncefact/ is not responding right now.

@kevinbish, is anything going on on the UN servers?

[2022-07-18 19:43] kevinbish commented on #108
Hi Nis, it should be online now.
(Some updates from the CCL RDM's were running from the Gefeg to UNECE Repo.).

[2022-07-22 06:41] Fak3 commented on #63
Perhaps instead of merging classes we can link separate classes together with `unece:relatedClass` property? It is optional, but may be useful for someone who tries to deduplicate them in the future? I.e:
[code]

[2022-07-26 07:37] #108 closed

[2022-08-04 07:45] kshychko commented on #27
According to the discussion on #105 the following approach is taken:
1. Define RDF Classes for UNLOCODE, Subdivision, Function. For Country "schema:Country" type can be used
2. Because there are codes in both UN/LOCODE and Subdivision code lists, separate namespaces are used for those and other entities.
3. The language is set to "en" for the labels without diacritics. It's impossible to determine

[2022-08-04 07:54] kshychko commented on #27
The current outputs for discussion are available in https://github.com/uncefact/codes-locode/tree/main/vocab

[2022-08-04 08:13] nissimsan commented on #63
@Fak3,
Good idea. We'll merge what we have now and this can be implemented later.
I would question if this `relatedClasses` will be used much. I'd prefer to wait for actual requirements for it. Let's not make this a high priority,

[2022-08-04 08:19] kshychko commented on #27
Subdiivision:
"TW","TPE","Taipei","special municipality"
LOCODE:
,"TW","TPE","Taipei","Taipei","TPE","1--45---","AI","1101",,"2502N 12131E",""

[2022-08-04 08:44] nissimsan commented on #27
IATA codes are missing, but let's tackle that in a separate PR.

[2022-08-04 08:46] nissimsan commented on #63
We've done this - closing.

[2022-08-04 08:46] #63 closed

[2022-08-04 08:51] nissimsan commented on #40
@VladimirAlexiev , it's confusing what you mean "owl:ObjectProperty (797, see below) vs owl:DatatypeProperty (950)" - which one should replace `rdf:Property`?

[2022-08-04 08:51] kshychko commented on #39
https://github.com/uncefact/codes-locode/blob/main/vocab/unlocode/UNLOCODE.jsonld

[2022-08-04 08:52] nissimsan commented on #39
Will be tackled in https://github.com/uncefact/spec-jsonld/pull/105 also.

[2022-08-04 08:53] nissimsan commented on #38
@kshychko , please confirm that this is fixed already?

[2022-08-04 08:54] nissimsan commented on #31
@kevinbish, kind reminder

[2022-08-18 07:12] kshychko commented on #35
`cefact` namespace value has been changed to `https://service.unece.org/trade/uncefact/vocabulary/cefact`:
https://github.com/uncefact/spec-jsonld/pull/112/files#diff-a12ec93e6434bcadf7fc3eaebf7fa191735c527dc75679f7beef58b011e56cfbR73

We still are going to separate it from `unece` namespace as data in `unece:cefactElementMetadata` element is for information and ids from there are not being publis

[2022-08-18 07:13] kshychko commented on #38
`TDED` property has been renamed to `tded` and empty ('.') values are ignored.

[2022-08-18 07:18] kshychko commented on #38
As the next step, we can publish EDIFACT codes and link to them the properties with TDED defined.

[2022-08-18 08:18] cmsdroff commented on #19
Now I have looked into the suggestions from @VladimirAlexiev on how to approach this and we are about to close #105  imminently I think I can create some examples for facilities and link the the unlocode outputs from #105, aim to do this for next meeting

[2022-08-18 08:35] nissimsan commented on #35
Done: https://github.com/uncefact/spec-jsonld/pull/112

[2022-08-18 08:35] #35 closed

[2022-08-18 08:35] nissimsan commented on #38
Done: https://github.com/uncefact/spec-jsonld/pull/112

[2022-08-18 08:35] #38 closed

[2022-08-18 08:36] nissimsan commented on #40
We did this.

[2022-08-18 08:36] #40 closed

[2022-08-18 08:37] nissimsan commented on #39
We did this: https://github.com/uncefact/spec-jsonld/pull/105

[2022-08-18 08:37] #39 closed

[2022-08-18 08:38] nissimsan commented on #27
We did this: https://github.com/uncefact/spec-jsonld/pull/105

[2022-08-18 08:38] #27 closed

[2022-08-22 16:01] jmcanterafonseca-iota opened #114 "https://service.unece.org/trade/uncefact/vocabulary/uncefact-context.jsonld CORS issues"
Due to CORS issues https://service.unece.org/trade/uncefact/vocabulary/uncefact-context.jsonld is not resolvable from the JSON-LD Playground

Please could you check and fix it?

[2022-08-22 19:51] VladimirAlexiev commented on #55
Related:
- https://github.com/w3c-ccg/traceability-vocab/issues/280
- https://github.com/w3c-ccg/traceability-vocab/issues/290

[2022-08-23 10:26] nissimsan commented on #114
Good callout, @jmcanterafonseca-iota!

@kevinbish, @kshychko. Assuming our deployment strategy works out as planned, is this a configuration to be made at UN side or on the host? I think the latter, but please keep me honest and share your thoughts...

[2022-08-24 12:33] kshychko opened #115 "Duplicates in UN/LOCODE list"
It has been discovered that there are duplicates in the output stream files for UN/LOCODE publication:
https://unece.org/trade/cefact/UNLOCODE-Download

Attached is the CSV file with duplicates, most of them are different only by names (swapped places):
AX | MHQ | AXMHQ | **Maarianhamina (Mariehamn)** | Maarianhamina (Mariehamn) |   | 1--4---- | AI | 1207 |   | 6006N 01957E
AX | MHQ | AXMHQ | **Ma

[2022-08-25 05:29] mikaelgu80 commented on #115
The swapping of the names for some places comes directly from the
guidance/specifications for locode:
https://service.unece.org/trade/locode/Service/LocodeColumn.htm#Name. It's
very problematic that there is no language code attached to the names and
instead it's handled this way. E.g in Finland (including the Åland islands)
there are many places with names in both Finnish and Swedish, but there
c

[2022-08-25 15:23] TallTed commented on #25
@nissimsan @VladimirAlexiev

The double-delimiter `/#` only shows up following dereferencing redirects from the vocabulary terms (e.g., `https://service.unece.org/trade/uncefact/vocabulary/uncefact#carrierParty`) to their HTML-based, human-facing description page (e.g., `https://service.unece.org/trade/uncefact/vocabulary/uncefact/#carrierParty`).

This is odd, but legal. (The `/#` is a semi-conve

[2022-08-26 08:11] nissimsan commented on #25
@TallTed, thank you so much! You make a very convincing argument.

First, there is affirmative action on switching to "slash-URIs". The `v1` label on this ticket means we treat this as mandatory before formally switching from "Draft" to "v1" of the [UN CEFACT vocab](https://service.unece.org/trade/uncefact/vocabulary/uncefact/). There are minor uncertainties about our level of hosting flexibility,

[2022-08-29 08:03] nissimsan opened #116 ""Purpose" section in the NDR"
Add a section on the NDR which explains the purpose and value of adding LD to common JSON Schema.

[2022-08-31 21:09] cmsdroff commented on #19
**DRAFT** for discussion during tomorrows call @nissimsan tried to use the committed work on unlocodes #105 for a container facility and ocean terminal

Copy the below code into https://issemantic.net/rdf-visualizer

Not perfect by any means and im yet to convert to turtle for checking etc that's next 🤣

I linked to the UNLOCODE, Function, Subdivision and Country as below.

[code]

[2022-08-31 21:20] cmsdroff commented on #115
In my opinion and others this shows why IATA should be a child code like others of UNLOCODE, it doesn't really fit into the way UNLOCODES are published and handled.  IATA maintain the codes independently and many cities have multiple airports, Paris is another example. Not sure what we can do on these except publish them as is as its the IATA code that makes it unique.

This one is a good case whe

[2022-09-01 07:15] cmsdroff commented on #19
I’d probably omit the function and subdivision if publishing as the link to the unlocode would expose these but in think value in sharing county and maybe subdivision

[2022-09-01 08:00] nissimsan opened #117 "`-properies` typo"
There's a type on all properties URL fragments, for example:
`https://service.unece.org/trade/uncefact/vocabulary/uncefact/#Address-properies`

Ref: https://github.com/w3c-ccg/traceability-vocab/issues/273#issuecomment-1233063021

[2022-09-01 08:07] kshychko commented on #31
The cloudfront setup is in progress, but below is just an example that proves that content negotiation is working for the AWS cloudfront + lambda@Edge function + s3 storage:

curl -i -o - --silent -X GET "https://dmvc7xzscpizo.cloudfront.net/uncl1001" --header "Accept:text/html" && echo
curl -i -o - --silent -X GET "https://dmvc7xzscpizo.cloudfront.net/uncl1001" --header "Accept:application/ld+jso

[2022-09-01 08:08] nissimsan opened #118 "Explain LD vs JSON Schema in the NDR"

[2022-09-01 08:11] nissimsan commented on #118
Dupe: #116

[2022-09-01 08:11] #118 closed

[2022-09-01 08:42] nissimsan commented on #26
Decision on Sept 1st 2022 on the call:
- Make classes as individual pages (like https://ref.gs1.org/epcis/EPCISDocument)
- Make code lists (like https://ref.gs1.org/cbv/BizStep, except use anchors (`#`) rather than)

[2022-09-01 08:44] nissimsan commented on #26
Let's try LOCODES on a single page, see how it works - if we need to treat them somehow special, we'll make that decision later.

[2022-09-01 08:45] nissimsan commented on #26
@kshychko, it'd be great to see [this](https://github.com/uncefact/spec-jsonld/issues/26#issuecomment-1233950290) on next meeting (Sept 15)

[2022-09-01 08:50] nissimsan commented on #115
@kshychko, this is not a problem for this project to solve. Please focus on publishing what we're getting.

[2022-09-01 08:52] nissimsan commented on #115
@kshychko, we have to publish unique LOCODEs, so please go with the most simple rule of picking the first unique LOCODE of the list. Ignore subsequent repetitions.

[2022-09-01 08:57] nissimsan opened #119 "unece DNS entry"
NS record from
`vocabulary.unece.org`
to
`dmvc7xzscpizo.cloudfront.net`

@kevinbish, is this something you can run with, pls?

[2022-09-01 09:30] nissimsan opened #120 "Published URL path"
We should change the current:
`https://service.unece.org/trade/uncefact/vocabulary/uncefact/#Accreditation`

To:
`https://vocabulary.unece.org/Accreditation`,
`https://vocabulary.unece.org/Consignment`
etc...

Attributes should be published alongside like this:
`https://vocabulary.unece.org/billOfLadingNb`

And code lists like this:
`https://vocabulary.unece.org/uncl1001`
with individual values di

[2022-09-02 10:10] jmcanterafonseca-iota commented on #114
@nissimsan any progress on this?

[2022-09-02 12:05] nissimsan commented on #114
We didn't get to discuss this on the call yesterday. @kshychko, do you mind if I tag you for your immediate thoughts on this?

[2022-09-02 12:07] nissimsan commented on #114
This must be possible to configure cloudflare.

[2022-09-15 07:56] kshychko commented on #120
A draft version of published classes/properties from the BSP subset is available by the link below:
https://dmvc7xzscpizo.cloudfront.net/Accreditation

Code lists to be added.

[2022-09-15 08:27] nissimsan opened #122 "Move property descriptions to relationship"
Property descriptions should be moved from the property (rdf:comment) to the property relationship (schema:domainIncludes).

Rather than bundling the property descriptions on the property:
![image](https://user-images.githubusercontent.com/34443212/190354465-52ffc47b-a6b8-45a8-b4f2-5ce60f4d8a94.png)

We should list them individually on the references:
![image](https://user-images.githubusercontent

[2022-09-15 08:28] nissimsan commented on #117
We're dropping this html - we can close this

[2022-09-15 08:28] #117 closed

[2022-09-15 08:29] nissimsan commented on #25
This is getting fixed with the v1 approach:
https://dmvc7xzscpizo.cloudfront.net/classes

[2022-09-15 08:31] nissimsan commented on #120
This looks very promising!

[2022-09-15 08:34] nissimsan commented on #26
Work in progress:
https://dmvc7xzscpizo.cloudfront.net/classes

[2022-09-15 08:38] nissimsan commented on #119
@kevinbish, can you kindly action this, pls?

[2022-09-15 08:40] nissimsan opened #123 "Add headline and UN logo on the html"
It should be clear where this is coming from: https://dmvc7xzscpizo.cloudfront.net/classes

Like this'ish:
![image](https://user-images.githubusercontent.com/34443212/190357651-9e26e2c5-51d5-450d-a850-71679fd9acda.png)

[2022-09-15 08:42] kevinbish commented on #119
@nissimsan Yes, I will submit the request.

[2022-09-29 08:02] kshychko commented on #123
The logo has been added
![image](https://user-images.githubusercontent.com/6890602/192975279-4b8efd61-5d7a-4c9d-9311-69d5d781fb82.png)

[2022-09-29 08:04] kshychko commented on #120
The Recommendation code lists have been added:
https://dmvc7xzscpizo.cloudfront.net/code-lists

[2022-09-29 08:08] kshychko commented on #122
The property description is taken now from cefactElementMetadata
![image](https://user-images.githubusercontent.com/6890602/192976607-292d61f0-990c-4594-b102-930db5edc4a8.png)

[2022-09-29 08:10] nissimsan commented on #114
This issue will solve itself when v1 gets deployed.

[2022-09-29 08:12] nissimsan commented on #119
This is in progress.

[2022-09-29 08:13] nissimsan commented on #119
Current NS asked is `uncefact.org`.

[2022-09-29 08:15] nissimsan commented on #120
Pending locodes and edifact code lists.

[2022-09-29 08:17] nissimsan commented on #122
Let's see a PR for this before closing.

[2022-09-29 08:18] nissimsan commented on #123
We did this.

[2022-09-29 08:18] #123 closed

[2022-09-29 08:25] nissimsan opened #125 "Generic solution for property and class name collision"
E.g. `TransportEvent` and `transportEvent`

[2022-10-06 08:10] nissimsan commented on #114
Dependency on #119

[2022-10-06 08:15] nissimsan commented on #120
Requires front end work to avoid screen crashing.

[2022-10-06 08:22] nissimsan commented on #120
Adding query parameter to navigate from country to locodes of that country

[2022-10-11 20:57] stuchalk commented on #89
So, I am working on building out the units of measurement interoperability service and I want to include the new UNECE unit representations in the system (along with the old ones).  What is the best way to get this information plus the equivalent QUDT representations?  Either a file, webservice output, or DB dump whichever you recommend...

[2022-10-12 09:35] mgh128 commented on #25
Can I ask what progress has been made on what was discussed here and in #24 about having a consistent Web URI stem (ending in /) to which any Rec20 unit of measure code such as 'A60' can be appended, to resolve to information about that unit (in this case Watt), including conversion factors?  I'm asking because I'm still seeing

https://service.unece.org/trade/uncefact/vocabulary/rec20/#watt

but

[2022-10-12 20:13] kshychko commented on #120
The UN/LOCODEs column has been added to the UN/LOCODEs countries table:
https://dmvc7xzscpizo.cloudfront.net/unlocode-countries

[2022-10-13 08:40] nissimsan commented on #122
We did this!

[2022-10-13 08:46] nissimsan commented on #120
This should be
`https://dmvc7xzscpizo.cloudfront.net/unlocode#AFCBN`
not
`https://dmvc7xzscpizo.cloudfront.net/unlocodeaf#AFCBN`

[2022-10-13 08:52] nissimsan opened #130 "Address the UN/LOCODE jsonld file size"
Currently it is 80 MB. We need to find a way to make it smaller or slice it up.

[2022-10-13 08:52] nissimsan commented on #130
https://dmvc7xzscpizo.cloudfront.net/unlocode

[2022-10-13 08:53] kshychko commented on #130
https://github.com/uncefact/codes-locode/blob/main/vocab/unlocode.jsonld

[2022-10-13 09:03] nissimsan commented on #130
Thoughts/options discussed:
1. Trim/minimization (@kshychko your action to give this a go)
2. Slice up by country (unfortunate usage consequences)
3. Change file format

[2022-10-13 09:21] nissimsan commented on #25
Hi @mgh128,

Yes, this is done already, please have a look:
https://dmvc7xzscpizo.cloudfront.net/rec20#A60
The code for Watt is `WTT`:
https://dmvc7xzscpizo.cloudfront.net/rec20#WTT

Note that we decided to use `#` for codelists.

As with most else around here we're eagerly waiting for the [UN DNS to be updated](https://github.com/uncefact/spec-jsonld/issues/119). Once that is done, the formal URI

[2022-10-17 12:03] nissimsan opened #132 "Missing code list relationships"
Many relationships from attribute to codes lists are missing. For example `Measurement.typeCode` relationship to `UNCL6311Code`.
This is caused by a lot of TDED values are missing on the input file.
At some point if a better source file is established, these relationships should be established for all uses of code lists.

Here is an example of an attribute value which is established - this is how

[2022-10-17 12:26] nissimsan opened #133 "Change tab icon to UN logo"
<img width="342" alt="image" src="https://user-images.githubusercontent.com/34443212/196176593-31c82b57-b345-4b54-86ff-37784050cba5.png">

This should be the real UN logo:
<img width="47" alt="image" src="https://user-images.githubusercontent.com/34443212/196176850-a1c8c441-6e12-4b78-9a8e-6227ce93bf34.png">

[2022-10-25 00:49] ChrisJMacdonald opened #134 "Misalignment between Vocab and Context file on Website"
On the draft [UNCEFACT JSON-LD vocabulary website](https://service.unece.org/trade/uncefact/vocabulary/uncefact/#sellerParty), there is a property `deliveryTermsDeliveryTypeCode`.

However, this does not show up in the [provided context file](https://service.unece.org/trade/uncefact/vocabulary/uncefact-context.jsonld), with `deliveryTypeDeliveryTermsCode` showing up instead.

I believe it's a simp

[2022-10-27 00:20] kshychko commented on #133
@nissimsan , fixed

[2022-10-27 00:21] kshychko commented on #130
UN/LOCODE vocabulary file has been minimized and its size is now less than 40Mb
https://github.com/uncefact/codes-locode/blob/main/vocab/unlocode.jsonld

[2022-10-27 08:07] #133 closed

[2022-10-27 08:19] nissimsan opened #135 "Clean up LOCODE header"
<img width="1025" alt="image" src="https://user-images.githubusercontent.com/34443212/198230419-38af56c2-aee7-4242-beb5-5578996570cd.png">

To be fixed:
- Not range includes
- Add link back to the country

[2022-10-27 08:20] nissimsan commented on #130
Less than 40MB is good enough.

[2022-10-27 08:20] #130 closed

[2022-10-27 08:21] nissimsan commented on #120
Excellent job!

[2022-10-27 08:21] #120 closed

[2022-10-27 08:38] nissimsan opened #136 "Update unece @context file with term definitions from code lists"
<img width="665" alt="image" src="https://user-images.githubusercontent.com/34443212/198234690-deee5be0-eb34-47c8-ade6-35c721089463.png">

These RDF classes are to be defined too:
<img width="991" alt="image" src="https://user-images.githubusercontent.com/34443212/198234828-52d933bb-77cd-40a6-98cc-3b910bc262ac.png">

[2022-10-28 11:09] cmsdroff commented on #19
Revised but still WIP storing here for coming back to ahead of next call.

[code]

Passes on schema validator where the old did not https://validator.schema.org

Points to resolve:

1. The vocab url doesn't currently work and im looking for the property names in the unlcoode for example but calling via postman seems to time out for unlocode (`https://dmvc7xzscpizo.cloudfront.net/unlocode-vocab`) @

[2022-10-28 15:19] jmcanterafonseca-iota opened #137 "[PROPOSAL] Hosting of LD Context and term URI identification using similar conventions than GS1"
as per discussions with @nissimsan on Slack I suggest:

Use https://ref.gs1.org/gs1/uri-policy/ as a reference guideline. If so we would have

`https://ref.unece.org/vocabulary/trade/uncefact-trade-context.jsonld` as the URL that hosts the UN/CEFACT Buy-Ship-Pay Vocabulary's LD Context.

The terms of the Vocabulary will be identified by URIs of the form:

`https://ref.unece.org/vocabulary/trade/<t

[2022-10-28 15:24] jmcanterafonseca-iota commented on #136
@nissimsan the code lists can be huge ... and the size of the LD Context can increase a lot ...

could they be hosted in their own LD Context and then imported only if they are really used. In EPCIS we have only one LD Context that also contains the CBV Code Lists (enumerations in schema.org jargon) , but in EPCIS CBV code lists are not so long ... in any case we generate a single LD Context from

[2022-10-28 15:25] jmcanterafonseca-iota commented on #119
See #137

[2022-10-28 15:27] jmcanterafonseca-iota commented on #134
is there a single source of truth ... in a huge Vocab like this any automated check could be fundamental
probably you need to get inspired by schema.org in how to handle big vocabularies

[2022-11-09 04:27] colugo opened #138 "Missing classes"
I was attempting to load the full json-ld vocabulary (https://dmvc7xzscpizo.cloudfront.net/unece.jsonld) into Jargon.
This mostly worked, but Jargon complained there were a couple of classes missing.

They are:
- CoordinateReferenceSystem
- CustomsProcedure
- Preference

Looking at the rendered vocabulary site (https://dmvc7xzscpizo.cloudfront.net), these classes return 404, despite having links f

[2022-11-10 08:13] kshychko commented on #135
Both points are fixed

[2022-11-10 08:58] kshychko opened #139 "providerParty property type"
One more issue I discovered running the check for broken links is providerParty property:

[code]
We have ASBIE `cefact:Document_Authentication.Provider.Referenced_Party` but we don't have Referenced Party BBIE defined
And because there is no additional attributes to distinguish it from cefact:Document_Authentication.Provider.Trade_Party we get one RDF property for two different ASBIEs
There are c

[2022-11-10 09:25] nissimsan commented on #114
Good stuff, @kshychko !

[2022-11-10 09:27] nissimsan commented on #135
We did this.

[2022-11-10 09:27] #135 closed

[2022-11-10 09:33] nissimsan commented on #138
It would be great to remove broken links.

I personally don't think this is `v1` worthy.

[2022-11-10 09:39] nissimsan commented on #139
Approach:
- Include the class qualifier
- Then remove the `Referenced` ones

[2022-11-10 09:52] kshychko commented on #19
@cmsdroff , if you need to use the context files, we've got the following contexts published:
https://dmvc7xzscpizo.cloudfront.net/unece-context.jsonld
https://dmvc7xzscpizo.cloudfront.net/unlocode-vocab-context.jsonld

[2022-11-10 10:15] Fak3 opened #140 "New html vocab view is missing "referenced by" section for classes"
Initial html vocab representation had very useful "referenced by" section for classes:

![Screenshot_20221110_130839](https://user-images.githubusercontent.com/991641/201063837-e5eace38-7973-49e3-8c7a-60c49326dc1b.jpg)

In the new design it is not implemented. Would be great to get it back, as it has very valuable info

[2022-11-14 00:39] ChrisJMacdonald opened #141 "Unreferenced Classes, How should they be defined?"
# Unreferenced Classes

## Issue

Many Classes are defined that cannot be implemented as they are not referenced by any properties.
**How is one to use these classes and implement them?**
Classes such as Context, ExchangedDocument, LineTradeSettlement, etc.

## Context

In conversations on Slack, I had asked about creating a payload and offered an example of:
[code]
This is incorrect, as the Class

[2022-11-14 15:46] nissimsan opened #142 "Non-DNS references"
The class references are still pointing at the non-DNS links (dmvc7xzscpizo.cloudfront.net). For example:

<img width="626" alt="image" src="https://user-images.githubusercontent.com/34443212/201702739-d13956e2-7ebf-46b1-98e3-e7a73178cae2.png">

[2022-11-15 09:46] nissimsan commented on #142
@kshychko , this seems fixed now?

[2022-11-16 11:48] jmcanterafonseca-iota opened #143 "LD Context: `@vocab` incorrect"
with regards to

The LD Context is including, `"@vocab": "https://vocabulary.uncefact.org/"` but that is essentially a bad idea as it would mean any term included by a JSON-LD document that does not have a mapping it will be end up being trapped under `"https://vocabulary.uncefact.org/"`  and that is incorrect. That was a long discussion in EPCIS 2.0, and we removed it, `@vocab` it can lead to und

[2022-11-16 11:51] jmcanterafonseca-iota opened #144 "LD Context: define convenient mappings for `@id` and `@type`"
It would be good to define mappings in the LD Context as

[code]

That way the adoption by JSON developers will be smoother

[2022-11-16 12:09] jmcanterafonseca-iota opened #145 "LD Context: Code lists cannot be properly expanded"
Example:

[code]

What is missing in the LD Context?

[code]

[2022-11-16 12:11] jmcanterafonseca-iota opened #146 "LDContext: The `@type` is missing in all properties where it is relevant"
`@type` could be `id` for what you call object properties,

it could be `@vocab` for what you call code lists,

it could be `xsd:DateTime` (or timestamp), etc.

[2022-11-17 08:15] nissimsan opened #147 "Version label `19B` rather than `v1`"
Our focus on "v1" is quite technical, reflecting that the transform NDRs are implemented. But really, the relevant version to highlight is that of the source model, which I believe is `19B`.
I propose we change from the current marking of v1 instead to 19B.

[2022-11-23 19:54] kshychko commented on #140
@Fak3, we do have `Referenced by` section:
![image](https://user-images.githubusercontent.com/6890602/203634256-9e9907b8-9eaa-4c63-9e94-016bcdcdc78d.png)

[2022-11-23 20:07] kshychko commented on #147
@nissimsan, the [spreadsheet](https://github.com/uncefact/spec-jsonld/blob/main/scripts/transformer/src/main/resources/BSP%20D20A%20Context%20CCL.xlsx) with BSP subset that we are using as the data source is called `BSP D20A Context CCL` so probably it should be 20A.

[2022-11-23 22:30] kshychko commented on #145
@jmcanterafonseca-iota, thanks for raising this issue. LD Context is actually missing the code lists namespaces and that's wrong. Along with adding the `@type` attribute per #146 this will be fixed. I'll post an update when a new version of the LD Context is ready for testing.

[2022-11-24 08:41] cmsdroff commented on #87
Chased and still no file provided, 'being finalised' even though we asked for a rough draft.

Without this we will continue to work on the excel export.  This ticket is blocked in terms of future progression as several chasers have been sent for a json schema and we cannot be provided with an excel output that is updated.  There is work in this area but not yet available.

[2022-11-24 08:50] nissimsan opened #149 ""About" page content"
The current About page is quite nerdy.

https://www.gs1.org/voc/ has slightly more business friendly approach which I find more appropriate.

Search fits in well too.

[2022-11-24 08:52] nissimsan opened #150 "Add Search feature"
We had search on the previous version which was super nice. I still revert back to that just for searching. Let's get it into https://vocabulary.uncefact.org/ too.

[2022-11-24 09:16] nissimsan commented on #147
The file name seems pretty evident. Let's go with 20A labelling.

[2022-11-24 09:28] nissimsan commented on #150
Look into AWS search capabilities.

[2022-11-24 09:31] nissimsan commented on #25
We did this

[2022-11-24 09:31] #25 closed

[2022-11-24 09:31] nissimsan commented on #26
We did this.

[2022-11-24 09:31] #26 closed

[2022-11-24 09:31] nissimsan commented on #31
We did this.

[2022-11-24 09:31] #31 closed

[2022-11-24 09:32] nissimsan commented on #114
We did this.

[2022-11-24 09:32] #114 closed

[2022-11-24 09:33] nissimsan commented on #119
We did it!

[2022-11-24 09:33] #119 closed

[2022-11-24 09:53] kshychko commented on #149
@nissimsan, could you please update the content of the about page with the more appropriate content
https://github.com/uncefact/vocabulary-outputs/blob/main/pages/about.html

[2022-11-24 09:53] nissimsan commented on #143
https://schema.org/docs/jsonldcontext.json does include `@vocab`.
But indeed https://www.gs1.org/docs/gs1-smartsearch/gs1Voc_v1_7.jsonld does not.

I can argue both ways. Let's go with the GS1 approach and remove.

[2022-11-24 09:54] nissimsan commented on #144
Agreed.

[2022-11-24 09:59] nissimsan commented on #146
@jmcanterafonseca-iota , thank you so much for the excellent requirements you've raised!!

[2022-11-24 10:43] svanteschubert opened #152 "Documentation: Elaborate further documentation on the input, the tool usage and the output of the project"
I would suggest adding more description of

1. the possible inputs,
2. the usage of tooling and
3. the output of this repository:

My first impression and expectations come from the other way around:

1. I have first seen the website: https://vocabulary.uncefact.org/ likely the output of this project.
2. I was pointed to this repository to be the tooling to create (the data of) the website.
3. I a

[2022-11-24 10:44] cmsdroff commented on #19
Thanks to @nissimsan here's a working version which I'll put something in place for

[code]

[2022-11-24 11:15] svanteschubert opened #153 "Adding an explicit OpenSource Software Copyright Licence, e.g. Apache License 2"
If someone would like to reuse your software or parts of the source code, I learned in the past that developers have to take a look at the license.

I suggest easing reuse as much as possible by using a none viral license.
While the choice of license is for some people the choice of religion, I enjoy copying/pasting sub-functionality from existing libraries, which I am maintaining, therefore I wou

[2022-11-24 11:57] svanteschubert commented on #152
Another docu sub-issue:

The GitHub pages ./docs directory does not seem to be activated:
https://uncefact.github.io/spec-jsonld
nor
https://uncefact.github.io/
can be accessed nor is file https://github.com/uncefact/spec-jsonld/blob/main/docs/tech-spec.md
being referenced by the README.md.

[2022-11-24 12:10] svanteschubert commented on #152
I will not create a new issue for this, as it is close to the documentation: the source structure of this project.
Please note that I do not mean to be picky (and/or "German") by all these suggestions! These are just mere suggestions, not real issues or bugs... from my perspective a kind of final polishing :-)

1. I would suggest moving the meeting-minutes folder into the docs (GitHub Pages) folde

[2022-11-24 12:54] svanteschubert opened #154 "Please add automated regression test(s)"
There are three quotes I would like to remind you on:

1. "It is difficult to reach a high quality, even more, difficult to keep it!"
2. "There is no guaranteed feature in a software unless an automated regression test exists for it"
3. "Developing software is like playing "[Micado](https://en.wikipedia.org/wiki/Mikado_(game))!"

Significantly, the last is painfully true. If you do not have automa

[2022-11-24 13:09] svanteschubert opened #155 "Suggestion to (temporaily) clean the output data due to incorrect input data..."
Already wrong in the generated XLS generated from GEFEG-FX is data, which...

1. Contains whitespace at the end of the data, for instance in JSON-LD the rec20:TAN has "unece:conversionFactor": "mg KOH/g "
   by the trailing whitespace, the string is different. Or at the end of the file at: rec20:MTZ
2. There are multiple hyphen characters available. The one by default on my keyboard is not always

[2022-11-24 13:12] svanteschubert commented on #154
The regression test could be executed for every suggested pull request within GitHub (at the MS Cloud for free) and commit using GitHub workflow and git internal commit hook, see for example
https://github.com/tdf/odftoolkit/blob/master/.github/workflows/maven.yml

[2022-11-24 16:11] svanteschubert commented on #87
I do like to work on the office spreadsheet format as input format (when access is already established by the Apache POI library) as the spreadsheet is the same format the end user will likely look into by hand.

In the end, the XLS is just a container format (like XSD or upcoming JSON, etc.) which GEFEG-FX is exporting data into.
Independent if we are using XLS, JSON, etc. we are always dependent

[2022-11-24 16:36] svanteschubert commented on #152
Some quick observations on the output:

1. Currently, there is still a "desc" abbreviation for the missing description in
https://vocabulary.uncefact.org/rec20
2. I have no idea what the column "**Level Category**" and "**Status**" in https://vocabulary.uncefact.org/rec20 represent.
Is it a UN/CEFACT implementation detail?
3. The "**Conversion Factor**" is likely better rather explained as "**Repr

[2022-11-24 18:20] svanteschubert opened #156 "Suggestion of a follow-up use-case(s)"
To me, the first possible definition of done for this project is reached when every UN/CEFACT data will be directly accessible.

In other words, today's data, which might be available as zipped "spreadsheet data" (like the [CCL](https://unece.org/sites/default/files/2022-06/CCL22A.zip) using the old XLS binary Excel format or as OOXML [Rec20](https://unece.org/sites/default/files/2021-06/rec20_Rev

[2022-11-25 07:37] winnington commented on #147
@nissimsan @kshychko thanks, Draft D20A will be perfect labelling as the original D20A BSP XLS export was incomplete but was contributed for project development

[2022-11-25 08:36] nissimsan commented on #87
Interesting point of view, @svanteschubert. Code-wise I would instinctively pick json over xlsx. But frankly, it works now, and I'm not thrilled about the switching cost.

From a "human browsing" experience neither of these options are good. My experience with navigating the Excel is not positive. And neither comes close to what's now possible with vocabulary.uncefact.org.

[2022-11-30 08:48] jmcanterafonseca-iota opened #157 "Allow country to be either a ISO 3166-1 alpha-2 country code string or a resource"
In the current version of the Vocabulary properties that refer to a country are defined as a resource. It would be convenient to allow properties that refer to a country that  *also* admit just a string conformant with the ISO 3166-1 alpha-2 country code

For instance:

[code]